<!DOCTYPE html>
<html lang="en">
<head>
  <title>Management System</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <script src="../public/js/index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg">
  <div class="outsidecontainer">
    <div class="leftcontainer" style="height:80%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Songs</span>
      <br/>
      <br/>
      <div id="songList" style="height:90%;overflow-y:scroll">

      </div>
      
      
    </div>
    <div class="rightcontainer">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Now Playing</span>
      <br/>
      <br/>
      <div class="elevatedframe" style="width: 100%;text-align: center;">
        <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:100%" id="songNamePlaying">You'll Be In My Heart</span><br/>
        <span style="text-align: center;color:white;font-size: 20px;font-weight: 600;display:inline-block" id="songPositionPlaying">Act 1 - Song 2</span><br/>
        <!--<span class="material-icons-round iconbutton" style="font-size:24px;display: inline-block;vertical-align:middle" id="restartSong">replay</span>-->
        <div style="border: 3px solid white;height: 25px;width: 50%;display: inline-block;border-radius: 18px;background-color: transparent;padding-left: 3px;padding-right: 3px;text-align: left;margin-top: 30px;margin-left:0px" id="progressSlider">
          <div style="border: none;height: 11px;display: inline-block;border-radius: 18px;background-color: white" class="songprogress" id="songProgress"></div>
        </div><br/>
        <div style="display: inline-block;width: 50%;text-align: right;">
          <span style="color:white;font-size: 20px;display:inline-block" id="progressText">0:00 / 0:00</span>
        </div><br/>
        <div style="text-align: center;display: flex;margin-top: 30px;justify-content: center;">
          <div style="text-align: center;width: 100%;">
            <div style="width: 30%;float: left;">
              <span class="material-icons-round iconbutton" style="font-size:16px;display: inline-block;margin-top: 4px;" id="muteVolume">volume_up</span>
              <div style="border: 3px solid white;height: 16px;display: inline-block;width: 75%;border-radius: 18px;background-color: transparent;padding-left: 3px;padding-right: 3px;text-align: left;margin-top: 20px;padding: 2px;" id="volumeSlider">
                <div style="border: none;height: 6px;width: 50%;border-radius: 18px;background-color: white" id="volumeVisual"></div>
              </div>
            </div>
            <div class="dropdowncontrol" style="width: 30%;float: right;">
              <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;margin-top: 4px;">more_horiz</span>
            </div>
            <div class="regcontrolbuttons" style="width: 30%;float: right;margin-top: 10px;">
              <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;margin-right: 10px;" class="elevatedbutton" type="button" value="Lock"/>
              <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;" class="elevatedbutton" type="button" id="changeAutoplay" value="Autoplay"/>
            </div>
            
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;" id="prevSong">skip_previous</span>
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;" id="playSong">play_arrow</span>
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;" id="nextSong">skip_next</span>
            
          </div>
        </div>
        
      </div>
      
      
    </div>
    <div class="statuscontainer">
      <div style="display: flex;">
        
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block">Act 1</span>
        </div>
        <div class="elevatedframe" style="display: inline-block;padding-top: 8px;padding-bottom: 8px;margin-right: 12px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;margin-right: 5px;">Choosing Role</span>
          <span style="height: 10px;width: 10px;background-color: #828282;display: inline-block;border-radius: 50%;" title="You Are Online!"></span>
          
        </div>
        <input style="display:inline-block;text-align: center;border-radius: 20px;font-size: 15px;padding: 8px 15px 8px 15px;" class="elevatedbutton" id="closeApp" type="button" value="Exit App"/>
      </div>
      
    </div>
  </div>
  
  

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<script src="../vendor/howler/dist/howler.js"></script>
<script>

  class Song{
    constructor(name, filetype, location){
      this.name = name;
      this.filetype = filetype;
      this.location = location;
    }
  }

  // THERE IS NO CAP ON THIS NUMBER
  // WHATEVER YOU DO, DO NOT PUT THIS OVER 1
  var setVolume = .5
  var currentlyChangingVolume = false;
  var currentSong = undefined;
  let autoplay = false;
  let songList = []
  var sound = undefined

  document.getElementById("songNamePlaying").innerHTML = "No Song Playing!"
  document.getElementById("songPositionPlaying").innerHTML = "Please Select a Song...";

  function changeSongListView(previousSongName){
    try{
      document.getElementById(previousSongName).innerHTML = "play_arrow"
    }catch(ex){

    }
    try{
      document.getElementById(currentSong.name).innerHTML = "pause"
    }catch(ex){

    }
  }

  function muteVolume(){
    document.getElementById("muteVolume").innerHTML = "volume_off";
    try{
      setVolume = 0;
      document.getElementById("volumeVisual").style.width = "0%"
      sound.volume(0);
    }catch(err){

    }
  }

  function changeVolume(event){
    // For some reason it can trigger the visual???
    var actualElement = document.getElementById("volumeSlider");
    console.log(actualElement.clientWidth)
    let widthToHandle = (actualElement.clientWidth)-4;
    // Check if in bar
    if(event.offsetX <= widthToHandle && event.offsetX >= 0){
      let percentage = (event.offsetX / (actualElement.clientWidth-4))*100
      if(percentage > 0){
        document.getElementById("muteVolume").innerHTML = "volume_up";
      }else{
        document.getElementById("muteVolume").innerHTML = "volume_off";
      }
      document.getElementById("volumeVisual").style.width = percentage + "%"
      setVolume = percentage/100;
      try{
        sound.volume(setVolume);
      }catch(err){

      }
    }
  }
  document.getElementById("muteVolume").addEventListener("click", muteVolume)
  document.getElementById("volumeSlider").addEventListener("click", changeVolume)

  function changeSongPos(event){
    // For some reason it can trigger the visual???
    var actualElement = document.getElementById("progressSlider");
    console.log(actualElement.clientWidth)
    let widthToHandle = (actualElement.clientWidth)-6;
    // Check if in bar
    if(event.offsetX <= widthToHandle && event.offsetX >= 0){
      let multiplier = (event.offsetX / (actualElement.clientWidth-6))
      document.getElementById("songProgress").style.width = (multiplier*100) + "%"
      sound.seek(sound.duration()*multiplier);
    }
  }

  document.getElementById("progressSlider").addEventListener("click", changeSongPos)

  function playNextSong(useIndex){
    var prevSongName = "";
    try{
      prevSongName = currentSong.name;
    }catch(ex){

    }
    document.getElementById("songNamePlaying").innerHTML = songList[useIndex].name;
    document.getElementById("songPositionPlaying").innerHTML = "Act 1 - Song " + (useIndex + 1);
    sound = new Howl({
          src: [songList[useIndex].location + songList[useIndex].name + "." + songList[useIndex].filetype],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(autoplay && useIndex < (songList.length-1)){
              playNextSong(useIndex+1)
            }else{
              document.getElementById("playSong").innerHTML = "play_arrow";
              document.getElementById(currentSong.name).innerHTML = "play_arrow"
            }
          }
        });
        currentSong = songList[useIndex]
        changeSongListView(prevSongName)
        sound.play();
  }

  function setSongAndPlay(element){
    if(element.srcElement.innerHTML == "play_arrow"){
      var prevSongName = "";
      try{
        prevSongName = currentSong.name;
      }catch(ex){

      }
      if(sound != undefined){
        if(currentSong.name != element.srcElement.id){
          if(sound._src != undefined && sound.playing()){
            sound.stop();
          }
          var indexOfSong = songList.indexOf(songList.filter(el => el.name == element.srcElement.id)[0])
          document.getElementById("songNamePlaying").innerHTML = songList[indexOfSong].name;
          document.getElementById("songPositionPlaying").innerHTML = "Act 1 - Song " + (indexOfSong + 1);

          sound = new Howl({
            src: [songList[indexOfSong].location + songList[indexOfSong].name + "." + songList[indexOfSong].filetype],
            volume: setVolume,
            onend: function(){
              
              document.getElementById("songProgress").style.width = "0%"
              if(autoplay && indexOfSong < (songList.length-1)){
                playNextSong(indexOfSong+1)
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(currentSong.name).innerHTML = "play_arrow"
              }
            }
          });
          currentSong = songList[indexOfSong]
          changeSongListView(prevSongName)

          sound.play();
          document.getElementById("playSong").innerHTML = "pause";
          document.getElementById(currentSong.name).innerHTML = "pause"
          
        }else{
          document.getElementById("playSong").innerHTML = "pause";
          document.getElementById(currentSong.name).innerHTML = "pause"
          sound.play()
        }
      }else{
        var indexOfSong = songList.indexOf(songList.filter(el => el.name == element.srcElement.id)[0])
          document.getElementById("songNamePlaying").innerHTML = songList[indexOfSong].name;
          document.getElementById("songPositionPlaying").innerHTML = "Act 1 - Song " + (indexOfSong + 1);

          sound = new Howl({
            src: [songList[indexOfSong].location + songList[indexOfSong].name + "." + songList[indexOfSong].filetype],
            volume: setVolume,
            onend: function(){
              document.getElementById("songProgress").style.width = "0%"
              if(autoplay && indexOfSong < (songList.length-1)){
                playNextSong(indexOfSong+1)
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(currentSong.name).innerHTML = "play_arrow"
              }
            }
          });
          currentSong = songList[indexOfSong]
          changeSongListView(prevSongName)
          sound.play();
          document.getElementById("playSong").innerHTML = "pause";
      }
    }else{
      document.getElementById("playSong").innerHTML = "play_arrow";
      document.getElementById(currentSong.name).innerHTML = "play_arrow";
      sound.pause();
    }
    
    
    
  }

  function restartSong(){
    try{
      sound.seek(0);
    }catch(error){

    }
  }

  //document.getElementById("restartSong").addEventListener("click", restartSong)
  function nextSongControl(){
    var prevSongName = "";
    try{
      prevSongName = currentSong.name;
    }catch(ex){

    }
    try{
      var indexOfPrevSong = songList.indexOf(songList.filter(el => el == currentSong)[0])
      if(indexOfPrevSong < (songList.length-1)){
        try{
          sound.stop();
        }catch(snd){

        }
        var indexOfSong = indexOfPrevSong + 1;
        document.getElementById("songNamePlaying").innerHTML = songList[indexOfSong].name;
        document.getElementById("songPositionPlaying").innerHTML = "Act 1 - Song " + (indexOfSong + 1);

        sound = new Howl({
          src: [songList[indexOfSong].location + songList[indexOfSong].name + "." + songList[indexOfSong].filetype],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(autoplay && indexOfSong < (songList.length-1)){
              playNextSong(indexOfSong+1)
            }else{
              document.getElementById("playSong").innerHTML = "play_arrow";
              document.getElementById(currentSong.name).innerHTML = "play_arrow"
            }
          }
        });
        currentSong = songList[indexOfSong]
        changeSongListView(prevSongName)
        sound.play();
        document.getElementById("playSong").innerHTML = "pause";
      }
      // Error message handling
        
    }catch(err){
      console.log(err)
    }
  }
  function prevSongControl(){
    var prevSongName = "";
    try{
      prevSongName = currentSong.name;
    }catch(ex){

    }
    try{
      var indexOfPrevSong = songList.indexOf(songList.filter(el => el == currentSong)[0])
      if(indexOfPrevSong > 0){
        try{
          sound.stop();
        }catch(snd){

        }
        var indexOfSong = indexOfPrevSong - 1;
        document.getElementById("songNamePlaying").innerHTML = songList[indexOfSong].name;
        document.getElementById("songPositionPlaying").innerHTML = "Act 1 - Song " + (indexOfSong + 1);

        sound = new Howl({
          src: [songList[indexOfSong].location + songList[indexOfSong].name + "." + songList[indexOfSong].filetype],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(autoplay && indexOfSong < (songList.length-1)){
              playNextSong(indexOfSong+1)
            }else{
              document.getElementById("playSong").innerHTML = "play_arrow";
              document.getElementById(currentSong.name).innerHTML = "play_arrow"
            }
          }
        });
        currentSong = songList[indexOfSong]
        changeSongListView(prevSongName)
        sound.play();
        document.getElementById("playSong").innerHTML = "pause";
      }
      // Error message handling
        
    }catch(err){
      console.log(err)
    }
  }
  document.getElementById("nextSong").addEventListener("click", nextSongControl)
  document.getElementById("prevSong").addEventListener("click", prevSongControl)

  function autoplayToggle(){
    autoplay = !autoplay;
    document.getElementById("changeAutoplay").style.backgroundColor = autoplay ? "white" : "#262947"
    document.getElementById("changeAutoplay").style.color = autoplay ? "#262947" : "white"
  }
  document.getElementById("changeAutoplay").addEventListener("click", autoplayToggle)
  function updateTextTime(inSong, outOfSong){
    inSong = Math.round(inSong);
    
  }

  setInterval(() => {
    updateWidth();
  },100);

  function updateWidth() {
    if(sound != undefined){
      var inSong = sound.seek()
      var outOfSong = sound.duration()
      if (sound.playing()) {
        let width = (inSong/outOfSong)*100;
        width = width > 100 ? 100 : width;
        document.getElementById("songProgress").style.width = width + "%"
      }
      inSong = Math.round(inSong)
      outOfSong = Math.round(outOfSong)
      var inSongM = Math.floor(inSong / 60)
      var inSongS = Math.floor(inSong % 60)
      var inSongF = inSongM + ":" + (inSongS.toString().length == 1 ? "0" + inSongS : inSongS);
      var outOfSongM = Math.floor(outOfSong / 60)
      var outOfSongS = Math.floor(outOfSong % 60)
      var outOfSongF = outOfSongM + ":" + (outOfSongS.toString().length == 1 ? "0" + outOfSongS : outOfSongS);
      document.getElementById("progressText").innerHTML = inSongF + " / " + outOfSongF;
    }
    
  }

  document.getElementById("playSong").addEventListener("click", function (){
    if(!sound.playing()){
      sound.play();
      document.getElementById("playSong").innerHTML = "pause";
      document.getElementById(currentSong.name).innerHTML = "pause"
    }else{
      sound.pause();
      document.getElementById("playSong").innerHTML = "play_arrow";
      document.getElementById(currentSong.name).innerHTML = "play_arrow"
    }
    
  });
  

  const {ipcRenderer} = require('electron');

  ipcRenderer.on("songsToLoad", (event,args) => {
    args['songs'].forEach(song => {
      var filetype = song.split(".")[song.split(".").length-1]
      var name = song.substring(0, song.length - filetype.length - 1)
      
      var location = "../public/audio/"
      songList.push(new Song(name, filetype, location))
    });
    songList.forEach(song => {
    document.getElementById("songList").innerHTML = document.getElementById("songList").innerHTML + `<div class="elevatedframe" style="display: inline-block;margin-bottom:5px;margin-top:5px;width:95%">
          <span class="material-icons-round iconbutton thissong" style="font-size:24px;display: inline-block;vertical-align:middle;margin-right:5px" id="${song.name}">play_arrow</span>
          <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;margin-right: 20px;overflow:hidden;vertical-align:middle;width:90%;white-space: nowrap;text-overflow: ellipsis;">${song.name}</span>
        </div><br/>`
        Array.from(document.getElementsByClassName("thissong")).forEach(btn => {
          btn.addEventListener("click", setSongAndPlay)
        })
    });
  });
  ipcRenderer.send("getMeSpiderman")
  const closeApp = document.getElementById('closeApp');
  closeApp.addEventListener('click', () => {
    ipcRenderer.send('quitapp');
  });
</script>

</html>
