<!DOCTYPE html>
<html lang="en">
<head>
  <title>Management System</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg">
  <div class="outsidecontainer">
    <div class="leftcontainer" style="height:80%;width:50%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block;vertical-align: middle;">All Phases and Songs</span>
      <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="addPhase" type="button" value="Add Phase"/>
      <br/>
      <br/>
      <div id="phaseList" style="height:95%;overflow-y:auto">
        
        
        
      </div>
      
      
    </div>
    <div class="rightcontainer" style="left:60%;width:35%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block;margin-bottom: 20px;">Toolbox</span>
      <br/>
      <div id="songList" style="min-height: 200px;">
        
      </div>
      
      <br/>
      
      
    </div>
    <div class="statuscontainer">
      <div style="display: flex;">
        
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block">Act 1</span>
        </div>
        <div class="elevatedframe" style="display: inline-block;padding-top: 8px;padding-bottom: 8px;margin-right: 12px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;margin-right: 5px;">Schema Designer</span>
          <span style="height: 10px;width: 10px;background-color: green;display: inline-block;border-radius: 50%;" title="You Are Online!"></span>
          
        </div>
        <input style="display:inline-block;text-align: center;border-radius: 20px;font-size: 15px;padding: 8px 15px 8px 15px;" class="elevatedbutton" id="closeApp" type="button" value="Exit App"/>
      </div>
      
    </div>
    <div class="additionalcontainer">
      <div style="display: flex;">
        
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding:14px">
          <span class="material-icons-round iconbutton" style="font-size:24px;display: inline-block;vertical-align: middle;margin-right:6px">info</span>
          <span style="text-align: center;color:white;font-size: 18px;font-weight: 600;display:inline-block;vertical-align: middle;">You have unsaved changes!</span>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="saveAll" type="button" value="Save"/>
        </div>
      
      </div>
      
    </div>
  </div>
  <div id="createPhase" class="overlayBox" style="display:none;text-align:center;">
    <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
      <div class="elevatedframe" style="display:inline-block;max-width:500px;padding:30px">
        <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Create a Phase</span>
        <span style="color: white;font-size:12px;margin-bottom: 20px;display:block">Phases are certain segments of your program that hold music and notes. The director may choose to hide a phase or enforce the use of a phase during a show.</span>
        <span style="color: white;font-size:12px;margin-bottom: 20px;font-weight:600;">Phase Name   </span><input class="textbox" style="display:inline-block;font-size:14px;margin-bottom: 20px;margin-left:10px" id="name_createPhase" placeholder="Some Cool Name..."/><br/>
        <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="cancel_addPhase" type="button" value="Cancel"/>
        <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="save_addPhase" type="button" value="Save"/>
      </div>
    </div>
    
  </div>
  <div id="deletePhase" class="overlayBox" style="display:none;text-align:center;">
    <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
      <div class="elevatedframe" style="display:inline-block;padding:30px;max-width:500px">
        <input style="display: none;" id="selected_removePhase" value=""/>
        <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Are you sure?</span>
        <span style="color: white;font-size:12px;margin-bottom: 10px;display:block">You are about to permanately delete a phase and the order of the songs inside it.</span>
        <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;margin-top: 5px;" class="elevatedbutton" id="cancel_removePhase" type="button" value="Cancel"/>
        <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="delete_removePhase" type="button" value="Delete"/>
      </div>
    </div>
    
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="../vendor/howler/dist/howler.js"></script>
<script>

  $(document).ready(function(){
    //$(".additionalcontainer").animate({bottom:'20px'},500, 'swing');
    $("#saveAll").click(function(){
      $(".additionalcontainer").animate({bottom:'-100px'},300, 'swing');
    });
  });

  defaultSongs = [];

  class Song{
    constructor(name, filetype, location, downloaded){
      this.name = name;
      this.filetype = filetype;
      this.location = location;
      this.downloaded = downloaded;
    }
  }

  class Phase{
    constructor(id, name, visible, strict, duplication){
      this.id = id
      this.name = name
      this.visible = visible
      this.strict = strict
      this.duplication = duplication
    }
  }

  phases = []
  // SET THIS TO LEN OF PHASES WHEN IMPORTED
  phaseCreationIndex = 1;

  function changeName(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    var newName = document.getElementById(phaseId + "_name").value
    var isUniqueName = phases.filter(el => el.name == newName).length > 0 ? false : true

    if(isUniqueName){
      phases.filter(el => el.id == phaseId)[0].name = newName;
      somethingWasChanged();
    }
    
  }
  // trigger save popup
  function somethingWasChanged(){
    $(".additionalcontainer").animate({bottom:'20px'},500, 'swing');
  }

  function toggleStrict(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    if(phaseObject.strict){
      document.getElementById(phaseId + "_strict_on").style.display = "none";
      document.getElementById(phaseId + "_strict_off").style.display = "inline-block";
      phases.filter(el => el.id == phaseId)[0].strict = false;
    }else{
      document.getElementById(phaseId + "_strict_off").style.display = "none";
      document.getElementById(phaseId + "_strict_on").style.display = "inline-block";
      phases.filter(el => el.id == phaseId)[0].strict = true;
    }
    somethingWasChanged();
    
  }
  function toggleVisible(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    if(phaseObject.visible){
      document.getElementById(phaseId + "_visible_on").style.display = "none";
      document.getElementById(phaseId + "_visible_off").style.display = "inline-block";
      phases.filter(el => el.id == phaseId)[0].visible = false;
    }else{
      document.getElementById(phaseId + "_visible_off").style.display = "none";
      document.getElementById(phaseId + "_visible_on").style.display = "inline-block";
      phases.filter(el => el.id == phaseId)[0].visible = true;
    }
    somethingWasChanged();
  }

  

  function askDelete(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    document.getElementById("selected_removePhase").value = phaseId;
    document.getElementById("deletePhase").style.display = "";
  }

  function cancelDelete(){
    document.getElementById("selected_removePhase").value = "";
    document.getElementById("deletePhase").style.display = "none";
  }

  function confirmDelete(){
    var phaseId = document.getElementById("selected_removePhase").value
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    delete phases[phases.indexOf(phaseObject)]
    document.getElementById(phaseId).remove();
    document.getElementById("deletePhase").style.display = "none";
    somethingWasChanged();
  }

  function resetSortables(init){
    phases.forEach(phase => {
      console.log(phase.id + "_sort")
      new Sortable(document.getElementById(phase.id + "_sort"), {
        group : {
          name: 'songs'

        },
        animation: 150,
        filter: 'topDivForPhase',
        onAdd: function (evt) {
          somethingWasChanged();
        }
      });
      document.getElementById(phase.id + "_name").value = phase.name
      document.getElementById(phase.id + "_strict_on").addEventListener('click', toggleStrict)
      document.getElementById(phase.id + "_strict_off").addEventListener('click', toggleStrict)
      document.getElementById(phase.id + "_visible_on").addEventListener('click', toggleVisible)
      document.getElementById(phase.id + "_visible_off").addEventListener('click', toggleVisible)
      document.getElementById(phase.id + "_removePhase").addEventListener('click', askDelete)
      document.getElementById(phase.id + "_duplicate").addEventListener('click', duplicatePhase)
      document.getElementById(phase.id + "_name").addEventListener('input', changeName)
    });
    if(!init){
      somethingWasChanged();
    } 
    
  }


  function duplicatePhase(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    var newId = "dp_phase_" + evt.srcElement.id.split("_")[2] + "(" + (phaseObject.duplication+1) + ")"
    
    phases.push(new Phase(newId, "Copy of " + phaseObject.name + (phaseObject.duplication > 0 ? phaseObject.duplication+1 : ""), phaseObject.visible, phaseObject.strict, 0))
    document.getElementById("phaseList").innerHTML = document.getElementById("phaseList").innerHTML + `<div style="margin-top:20px;margin-bottom:20px" id="${newId}">
          <div style="display:flex; flex-direction: row; align-items: center;margin-top:5px" class="topDivForPhase">
            <input class="textbox" style="display:inline-block;font-size:20px" value="` + "Copy of " + phaseObject.name  + (phaseObject.duplication > 0 ? phaseObject.duplication+1 : "") + `" placeholder="Name Me!" id="${newId}_name"/>
            <span class="material-icons-round iconbutton" title="There are stricter rules enforced during the show. Click me to turn them off!" style="text-align: center;color:white;font-size: 25px;display:${phaseObject.strict ? 'inline-block' : 'none'};margin-left:10px" id="${newId}_strict_on">shield</span>
            <span class="material-icons-round iconbutton" title="There are less rules enforced during the show. Click me to turn stricter ones on!" style="text-align: center;color:white;font-size: 25px;display:${!phaseObject.strict ? 'inline-block' : 'none'};margin-left:10px" id="${newId}_strict_off">remove_moderator</span>
            <span class="material-icons-round iconbutton" title="Everyone can see this phase and add notes to it! Click me to hide this phase!" style="text-align: center;color:white;font-size: 25px;display:${phaseObject.visible ? 'inline-block' : 'none'};margin-left:5px" id="${newId}_visible_on">visibility</span>
            <span class="material-icons-round iconbutton" title="No one but you can see this phase. Click me to make this phase public!" style="text-align: center;color:white;font-size: 25px;display:${!phaseObject.visible ? 'inline-block' : 'none'};margin-left:5px" id="${newId}_visible_off">visibility_off</span>
            <span class="material-icons-round iconbutton" title="Duplicate me!" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px" id="${newId}_duplicate">content_copy</span>
            <span class="material-icons-round iconbutton" title="Delete me!" style="text-align: center;color:#ffa3b9;font-size: 25px;display:inline-block;margin-left:5px" id="${newId}_removePhase">delete</span>
            
          </div>
          <br/>
          <div style="border-left: 2px solid white;border-radius:4px;margin-bottom:5px">
            <div style="margin-left:15px" id="${newId}_sort" style="min-height: 200px">

            </div>
          </div>
        </div>`
    phases.filter(el => el.id == phaseId)[0].duplication = phaseObject.duplication + 1
    phases.filter(el => el.id == phaseId)[0].name = phaseObject.name
    document.getElementById(phaseId + "_name").value = phaseObject.name
    document.getElementById(newId + "_sort").innerHTML = document.getElementById(newId + "_sort").innerHTML + document.getElementById(phaseId + "_sort").innerHTML
    resetSortables(false);
    somethingWasChanged();
  }

  document.getElementById("cancel_removePhase").addEventListener('click', cancelDelete);
  document.getElementById("delete_removePhase").addEventListener('click', confirmDelete);

  function createPhase(){
    document.getElementById("phaseList").innerHTML = document.getElementById("phaseList").innerHTML + `<div style="margin-top:20px;margin-bottom:20px" id="cp_phase_` + phaseCreationIndex + `">
          <div style="display:flex; flex-direction: row; align-items: center;margin-top:5px" class="topDivForPhase">
            <input class="textbox" style="display:inline-block;font-size:20px" value="` + document.getElementById("name_createPhase").value + `" placeholder="Name Me!" id="cp_phase_` + phaseCreationIndex + `_name"/>
            <span class="material-icons-round iconbutton" title="There are stricter rules enforced during the show. Click me to turn them off!" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:10px" id="cp_phase_` + phaseCreationIndex + `_strict_on">shield</span>
            <span class="material-icons-round iconbutton" title="There are less rules enforced during the show. Click me to turn stricter ones on!" style="text-align: center;color:white;font-size: 25px;display:none;margin-left:10px" id="cp_phase_` + phaseCreationIndex + `_strict_off">remove_moderator</span>
            <span class="material-icons-round iconbutton" title="Everyone can see this phase and add notes to it! Click me to hide this phase!" style="text-align: center;color:white;font-size: 25px;display:none;margin-left:5px" id="cp_phase_` + phaseCreationIndex + `_visible_on">visibility</span>
            <span class="material-icons-round iconbutton" title="No one but you can see this phase. Click me to make this phase public!" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px" id="cp_phase_` + phaseCreationIndex + `_visible_off">visibility_off</span>
            <span class="material-icons-round iconbutton" title="Duplicate me!" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px" id="cp_phase_` + phaseCreationIndex + `_duplicate">content_copy</span>
            <span class="material-icons-round iconbutton" title="Delete me!" style="text-align: center;color:#ffa3b9;font-size: 25px;display:inline-block;margin-left:5px" id="cp_phase_` + phaseCreationIndex + `_removePhase">delete</span>
            
          </div>
          <br/>
          <div style="border-left: 2px solid white;border-radius:4px;margin-bottom:5px">
            <div style="margin-left:15px" id="cp_phase_` + phaseCreationIndex + `_sort" style="min-height: 200px">

            </div>
          </div>
        </div>`
    phases.push(new Phase("cp_phase_" + phaseCreationIndex, document.getElementById("name_createPhase").value, false, true));
    resetSortables(false);
    
    phaseCreationIndex = phaseCreationIndex + 1;
    document.getElementById("createPhase").style.display = "none";
    somethingWasChanged();
    
  }
  document.getElementById("save_addPhase").addEventListener('click', createPhase)

  document.getElementById("addPhase").addEventListener('click', function(evt){
    document.getElementById("createPhase").style.display = "block";
  });

  document.getElementById("cancel_addPhase").addEventListener('click', function(evt){
    document.getElementById("createPhase").style.display = "none";
  });



  new Sortable(document.getElementById("phaseList"), {
    group : {
      name: 'phases'
    },
    animation: 200
  });
  const {ipcRenderer} = require('electron');


  ipcRenderer.on('downloadSuccess', (event,args) => {
    downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cloud_done"
    setTimeout(function(){
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).animate([{opacity: 1}, {opacity:0}], {duration: 2000, easing: 'ease-in-out'})
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).style.opacity = 0;
    }, 3000)
    
    
  });
  ipcRenderer.on('downloadFailure', (event,args) => {
    //downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cancel"
    
    
  });

  function saveAndSend(){
    var objStart = { "tracks" : [] }
    var MasterListOfSongs = []
    Array.from(document.getElementById("phaseList").children).forEach(phaseElmt => {
      console.log(phaseElmt)
      var phaseObj = phases.filter(el => el.id == phaseElmt.id)[0]
      var trackObj = { "trackName" : phaseObj.name, "trackSongs" : [], "strict": phaseObj.strict, "visible" : phaseObj.visible }
      Array.from(document.getElementById(phaseElmt.id + "_sort").children).forEach(songElmt => {
        console.log(songElmt.dataset.song)
        
        var filetypenname = songElmt.dataset.song.split("_")[1]
        var filetype = filetypenname.split(".")[filetypenname.split(".").length-1]
        var filename = filetypenname.substring(0, filetypenname.length - filetype.length - 1)
        var instanceIndex = MasterListOfSongs.filter(el => el == (filename + "." + filetype)).length
        MasterListOfSongs.push(filename + "." + filetype)
        var songObject = defaultSongs.filter(sng => (sng.name == filename) && (sng.filetype == filetype))[0]
        trackObj["trackSongs"].push({ "songName" : songObject.name, "fileType" : songObject.filetype, "instanceIndex" : instanceIndex })
      });
      objStart["tracks"].push(trackObj);
    });
    ipcRenderer.send('saveSchema', { 'typeOf' : 'show', 'rawJson' : JSON.stringify(objStart)});
  }
  
  ipcRenderer.on("songsToLoad", (event,args) => {
    // rename to songSchema soon
    var songList = args['songs']['tracks']
    var phaseCreationIndex = 0
    songList.forEach(track => {
      console.log(track)
      document.getElementById("phaseList").innerHTML = document.getElementById("phaseList").innerHTML + `<div style="margin-top:20px;margin-bottom:20px" id="ld_phase_` + phaseCreationIndex + `">
          <div style="display:flex; flex-direction: row; align-items: center;margin-top:5px" class="topDivForPhase">
            <input class="textbox" style="display:inline-block;font-size:20px" value="` + track["trackName"] + `" placeholder="Name Me!" id="ld_phase_` + phaseCreationIndex + `_name"/>
            <span class="material-icons-round iconbutton" title="There are stricter rules enforced during the show. Click me to turn them off!" style="text-align: center;color:white;font-size: 25px;${track["strict"] ? 'inline-block' : 'none'};margin-left:10px" id="ld_phase_` + phaseCreationIndex + `_strict_on">shield</span>
            <span class="material-icons-round iconbutton" title="There are less rules enforced during the show. Click me to turn stricter ones on!" style="text-align: center;color:white;font-size: 25px;display:${!track["strict"] ? 'inline-block' : 'none'};margin-left:10px" id="ld_phase_` + phaseCreationIndex + `_strict_off">remove_moderator</span>
            <span class="material-icons-round iconbutton" title="Everyone can see this phase and add notes to it! Click me to hide this phase!" style="text-align: center;color:white;font-size: 25px;display:${track["visible"] ? 'inline-block' : 'none'};margin-left:5px" id="ld_phase_` + phaseCreationIndex + `_visible_on">visibility</span>
            <span class="material-icons-round iconbutton" title="No one but you can see this phase. Click me to make this phase public!" style="text-align: center;color:white;font-size: 25px;display:${!track["visible"] ? 'inline-block' : 'none'};margin-left:5px" id="ld_phase_` + phaseCreationIndex + `_visible_off">visibility_off</span>
            <span class="material-icons-round iconbutton" title="Duplicate me!" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px" id="ld_phase_` + phaseCreationIndex + `_duplicate">content_copy</span>
            <span class="material-icons-round iconbutton" title="Delete me!" style="text-align: center;color:#ffa3b9;font-size: 25px;display:inline-block;margin-left:5px" id="ld_phase_` + phaseCreationIndex + `_removePhase">delete</span>
            
          </div>
          <br/>
          <div style="border-left: 2px solid white;border-radius:4px;margin-bottom:5px">
            <div style="margin-left:15px" id="ld_phase_` + phaseCreationIndex + `_sort" style="min-height: 200px">

            </div>
          </div>
        </div>`
        
      phases.push(new Phase("ld_phase_" + phaseCreationIndex, track["trackName"], track["visible"], track["strict"], 0));
      track["trackSongs"].forEach(song => {
        
        if(defaultSongs.filter(el => el.name == song["songName"]).length > 0){
          console.log(song)
          document.getElementById("ld_phase_" + phaseCreationIndex + "_sort").innerHTML = document.getElementById("ld_phase_" + phaseCreationIndex + "_sort").innerHTML + `<div class="elevatedframe" data-song="song_${song["songName"] + "." + song["fileType"]}" style="width:70%;margin-bottom: 5px;">
            <div style="display: table;width:100%;">
              <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:table-cell;margin-right: 20px;overflow:hidden;vertical-align:middle;white-space: nowrap;text-overflow: ellipsis;">${song["songName"]}</span>
              <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%" id="test-a1">lock</span>
            </div>
          </div>`
        }else{
          console.log("We are unable to load the song " + song["songName"] + "." + song["fileType"] + " as it is not in the system.")
        }
        
      });
      phaseCreationIndex = phaseCreationIndex + 1
      
    });

    resetSortables(true);
  });
  document.getElementById("saveAll").addEventListener('click', saveAndSend)

  ipcRenderer.on("systemSongFiles", (event,args) => {
    // rename to songSchema soon
    songList = args['songs']
    console.log(songList)
    var songFilesTracked = []; 
    songList.forEach(track => {
      var filetype = track.split(".")[track.split(".").length-1]
      var filename = track.substring(0, track.length - filetype.length - 1)
      console.log(filename + " . " + filetype)
      // No need to specify location :D
      defaultSongs.push(new Song(filename, filetype, "Somewhere over the rainbow :)", true))
      document.getElementById("songList").innerHTML = document.getElementById("songList").innerHTML + `<div class="elevatedframe" data-song="song_${filename + "." + filetype}" style="width:70%;margin-bottom: 5px;">
          <div style="display: table;width:100%;">
            <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:table-cell;margin-right: 20px;overflow:hidden;vertical-align:middle;white-space: nowrap;text-overflow: ellipsis;">${filename}</span>
            <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%" id="test-a1">lock</span>
          </div>
        </div>`
      new Sortable(document.getElementById("songList"), {
        group : {
          name: 'songs',
          pull: 'clone',
          put: false
        },
        animation: 150,
        sort: false
      });
      
    });
    ipcRenderer.send("getMeSpiderman")
  });
  ipcRenderer.on('notesToLoad', (event,args) => {
    //args["roleNotes"].forEach(el => {
    //  console.log(el)
    //});
    
    
  });
  
  ipcRenderer.send("requestServerSongs")
  ipcRenderer.send("getNotes")
  const closeApp = document.getElementById('closeApp');
  closeApp.addEventListener('click', () => {
    ipcRenderer.send('quitapp');
  });
</script>

</html>
