<!DOCTYPE html>
<html lang="en">
<head>
  <title>Management System</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg">
  <div class="outsidecontainer">
    <div class="leftcontainer" style="height:80%;width:55%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Phases and Songs</span>
      <br/>
      <br/>
      <div id="phaseList" style="height:95%;overflow-y:auto">
        <div style="display:flex; flex-direction: row; align-items: center">
          <input class="textbox" style="display:inline-block;font-size:20px"/>
          <span class="material-icons-round iconbutton" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px">shield</span>
          <span class="material-icons-round iconbutton" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px">remove_moderator</span>
          <span class="material-icons-round iconbutton" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px">visibility</span>
          <span class="material-icons-round iconbutton" style="text-align: center;color:white;font-size: 25px;display:inline-block;margin-left:5px">visibility_off</span>
        </div>
        
      </div>
      
      
    </div>
    <div class="rightcontainer" style="left:60%;width:35%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Toolbox</span>
      <br/>
      <div class="elevatedframe" style="display: table;width:95%">
          <span class="material-icons-round iconbutton thissong" style="font-size:24px;display: table-cell;vertical-align:middle;width:7%" id="test-a">play_arrow</span>
          <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:table-cell;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;">Overture</span>
          <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%" id="test-a1">cloud_download</span>
        </div><br/>
      <br/>
      
      
    </div>
    <div class="statuscontainer">
      <div style="display: flex;">
        
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block">Act 1</span>
        </div>
        <div class="elevatedframe" style="display: inline-block;padding-top: 8px;padding-bottom: 8px;margin-right: 12px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;margin-right: 5px;">Schema Designer</span>
          <span style="height: 10px;width: 10px;background-color: green;display: inline-block;border-radius: 50%;" title="You Are Online!"></span>
          
        </div>
        <input style="display:inline-block;text-align: center;border-radius: 20px;font-size: 15px;padding: 8px 15px 8px 15px;" class="elevatedbutton" id="closeApp" type="button" value="Exit App"/>
      </div>
      
    </div>
  </div>
  

</body>

<script src="../vendor/howler/dist/howler.js"></script>
<script>
  

  const {ipcRenderer} = require('electron');


  ipcRenderer.on('downloadSuccess', (event,args) => {
    downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cloud_done"
    setTimeout(function(){
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).animate([{opacity: 1}, {opacity:0}], {duration: 2000, easing: 'ease-in-out'})
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).style.opacity = 0;
    }, 3000)
    
    
  });
  ipcRenderer.on('downloadFailure', (event,args) => {
    //downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cancel"
    
    
  });
  ipcRenderer.on("songsToLoad", (event,args) => {
    // rename to songSchema soon
    songList = args['songs']['tracks']
    downloadedSongs = args["songsInSystem"]
    var songFilesTracked = []; 
    songList.forEach(track => {
      rawTrackList.push(track["trackName"])
      document.getElementById("songList").innerHTML = document.getElementById("songList").innerHTML + `<div id="${track["trackName"]}">
          <span style="text-align: center;color:white;font-size: 30px;font-weight: 600;display:inline-block;margin-bottom:10px">${track["trackName"]}</span><br/>
        </div><br/>`
      track["trackSongs"].forEach(song => {
        var inList = true;
        if(!songFilesTracked.includes(song["songName"] + "." + song["fileType"])){
          inList = false;
          songFilesTracked.push(song["songName"] + "." + song["fileType"])
        }
        document.getElementById(track["trackName"]).innerHTML = document.getElementById(track["trackName"]).innerHTML + `<div class="elevatedframe" style="display: table;width:95%">
          <span class="material-icons-round iconbutton thissong" style="font-size:24px;display: table-cell;vertical-align:middle;width:7%" id="${track["trackName"]}|${song["songName"] + "." + song["fileType"]}">play_arrow</span>
          <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:table-cell;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;">${song["songName"]}</span>
          <span class="material-icons-round iconbutton download" style="font-size:24px;display: ${args["songsInSystem"].includes(song["songName"] + "." + song["fileType"]) ? "none" : "table-cell"};vertical-align:middle;margin-right:5px;text-align:right;width:7%" id="download|${song["songName"] + "." + song["fileType"]}">${ inList ? "cloud_queue" : "cloud_download" }</span>
        </div><br/>`
      });
      
    });
    currentTrack = rawTrackList[0]
    Array.from(document.getElementsByClassName("thissong")).forEach(btn => {
      btn.addEventListener("click", setSongAndPlay)
    })
    Array.from(document.getElementsByClassName("download")).forEach(btn => {
      btn.addEventListener("click", download)
    })
  });
  ipcRenderer.on('notesToLoad', (event,args) => {
    args["roleNotes"].forEach(el => {
      console.log(el)
    });
    
    
  });
  ipcRenderer.send("getMeSpiderman")
  ipcRenderer.send("getNotes")
  const closeApp = document.getElementById('closeApp');
  closeApp.addEventListener('click', () => {
    ipcRenderer.send('quitapp');
  });
</script>

</html>
