.bg{
    background: rgb(19,19,48);
    background: -moz-linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    background: linear-gradient(180deg, rgba(19,19,48,1) 0%, rgba(9,13,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131330",endColorstr="#090d21",GradientType=1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 18px;
  }
  *::-webkit-scrollbar-track {
    background-color: #1D1F3A;
    box-shadow: inset 0 0 5px rgba(0,0,0,.16); 
    border-radius: 10px;
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #242852; 
    border-radius: 10px;
  }

.outsidecontainer {
    height: 100vh;
    position: relative;
}
.leftcontainer {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 43%;
}
.rightcontainer {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 45%;
}
.statuscontainer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
.elevatedframe {
    background-color: #1D1F3A;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #1D1F3A;
    box-shadow:  1px 3px 6px 0px rgba(0,0,0,.16);
}
.elevatedbutton {
    background-color: #262947;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #262947;
    box-shadow:  1px 3px 6px 0px rgba(0,0,0,.16);
    cursor: pointer;
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
}
.elevatedbutton:hover{
    background-color: #202342;
    border-color: #202342;
    color: rgba(255, 255, 255, .8);
}
.iconbutton{
    color: white;
    text-shadow:  1px 3px 6px 0px rgba(0,0,0,.16);
    transition: color .25s ease-in-out;
    cursor: pointer;
}
.iconbutton:hover{
    color:rgba(255, 255, 255, .7)
}

.regcontrolbuttons{
    display: inherit;
}
.dropdowncontrol{
    display: none;
}

.songprogress{
    transition: width .02s ease-in-out
}

@media (max-width: 1197px){
    .regcontrolbuttons { display: none; }
    .dropdowncontrol { display: inherit; }
}
