<!DOCTYPE html>
<html lang="en">
<head>
  <title>Management System</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg">
  <div class="outsidecontainer">
    <div class="leftcontainer" style="height:80%">
      <div id="instanceList">
        
      </div>
      
      
    </div>
    <div class="rightcontainer" style="left:50%;width:45%">
      <span style="text-align: left;color:white;font-size: 40px;font-weight: 600;display:inline-block;vertical-align: middle;">Notes</span>
      <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="addNote" type="button" value="Add Note"/>
      <select name="noteCategory" id="noteCategory" style="display:inline-block;padding:10px" class="textbox">
          <option value="All">All Notes</option>
      </select>
        <br/>
        <div style="overflow-y: auto;height:38vh" id="noteList">
          <span style="text-align: left;color:white;font-size: 24px;font-weight: 600;display:none;vertical-align: middle;" id="noteList_pinnedLabel">Pinned Notes</span>
          <div style="text-align: center;display: flex;flex-wrap: wrap;margin-bottom: 10px;" id="noteList_pinned">
            
          </div>
          <span style="text-align: left;color:white;font-size: 24px;font-weight: 600;display:none;vertical-align: middle;" id="noteList_allnotesLabel">All Notes</span>
          <div style="text-align: center;display: flex;flex-wrap: wrap;" id="noteList_allnotes">
            
          </div>
        </div>
      
      
    </div>
    <div class="statuscontainer">
      <div style="display: flex;">
        
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block">Act 1</span>
        </div>
        <div class="elevatedframe" style="display: inline-block;padding-top: 8px;padding-bottom: 8px;margin-right: 12px;">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;margin-right: 5px;">Director</span>
          <span style="height: 10px;width: 10px;background-color: green;display: inline-block;border-radius: 50%;" title="You Are Online!"></span>
          
        </div>
        <input style="display:inline-block;text-align: center;border-radius: 20px;font-size: 15px;padding: 8px 15px 8px 15px;" class="elevatedbutton" id="closeApp" type="button" value="Exit App"/>
      </div>
      
    </div>
    
    <div id="createNote" class="overlayBox" style="display:none;text-align:center;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="elevatedframe" style="display:inline-block;max-width:500px;padding:30px">
          <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Create a Note</span>
          
          <span style="color: white;font-size:12px;margin-bottom: 20px;display:block">Phases are certain segments of your program that hold music and notes. The director may choose to hide a phase or enforce the use of a phase during a show.</span>
          <table style="width:100%;margin-bottom:10px">
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">For Role   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="phaseName" id="roles_addNote" style="display:inline-block;padding:10px;width:90%" class="textbox"></select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Phase Name   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="phaseName" id="phases_addNote" style="display:inline-block;padding:10px;width:90%" class="textbox"></select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Song Name (+ Number)   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="songName" id="songs_addNote" style="display:inline-block;padding:10px;width:90%" class="textbox">
            
                </select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">After Song?   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input type="checkbox" class="textbox" id="after_addNote" style="margin-left:10px"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Note Title   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="title_addNote" placeholder="Cool Title..."/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px;">Note Content   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="content_addNote" placeholder="Descriptive Description..."/><br/>
              </td>
            </tr>
            
          </table>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="cancel_addNote" type="button" value="Cancel"/>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="save_addNote" type="button" value="Save"/>
        </div>
      </div>
      
    </div>
    <div id="changeNote" class="overlayBox" style="display:none;text-align:center;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="elevatedframe" style="display:inline-block;max-width:500px;padding:30px">
          <input style="display: none;" id="selected_editNote" value=""/>
          <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Edit Note</span>
          
          <span style="color: white;font-size:12px;margin-bottom: 20px;display:block">Phases are certain segments of your program that hold music and notes. The director may choose to hide a phase or enforce the use of a phase during a show.</span>
          <table style="width:100%;margin-bottom:10px">
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">For Role   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="phaseName" id="roles_editNote" style="display:inline-block;padding:10px;width:90%" class="textbox"></select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Phase Name   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="phaseName" id="phases_editNote" style="display:inline-block;padding:10px;width:90%" class="textbox"></select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Song Name (+ Number)   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="songName" id="songs_editNote" style="display:inline-block;padding:10px;width:90%" class="textbox">
            
                </select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">After Song?   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input type="checkbox" class="textbox" id="after_editNote" style="margin-left:10px"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Note Title   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="title_editNote" placeholder="Cool Title..."/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px;">Note Content   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="content_editNote" placeholder="Descriptive Description..."/><br/>
              </td>
            </tr>
            
          </table>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="cancel_editNote" type="button" value="Cancel"/>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="save_editNote" type="button" value="Save"/>
        </div>
      </div>
      
    </div>
    <div id="deleteNote" class="overlayBox" style="display:none;text-align:center;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="elevatedframe" style="display:inline-block;padding:30px;max-width:500px">
          <input style="display: none;" id="selected_removeNote" value=""/>
          <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Are you sure?</span>
          <span style="color: white;font-size:12px;margin-bottom: 10px;display:block">You are about to permanately delete a note for everyone who has access to it. This action cannot be reversed!</span>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="cancel_removeNote" type="button" value="Cancel"/>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="delete_removeNote" type="button" value="Delete"/>
        </div>
      </div>
      
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="../vendor/howler/dist/howler.js"></script>
<script>

  instances = []
  var rawTrackList = []
  var songList = []
  var pinnedNotes = []
  var roles = []
  // NOTES WILL STORE ROLENOTES > NOTES instead of NOTES > NOTEDATA
  var notes = []
  function askDelete(evt){
    var phaseId = evt.srcElement.id.split("_")[0] + "_" + evt.srcElement.id.split("_")[1] + "_" + evt.srcElement.id.split("_")[2]
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    document.getElementById("selected_removePhase").value = phaseId;
    document.getElementById("deletePhase").style.display = "";
  }

  function cancelDelete(){
    document.getElementById("selected_removePhase").value = "";
    document.getElementById("deletePhase").style.display = "none";
  }

  function confirmDelete(){
    var phaseId = document.getElementById("selected_removePhase").value
    var phaseObject = phases.filter(el => el.id == phaseId)[0]
    delete phases[phases.indexOf(phaseObject)]
    document.getElementById(phaseId).remove();
    document.getElementById("deletePhase").style.display = "none";
    somethingWasChanged();
  }

  document.getElementById("cancel_addNote").addEventListener('click', function(evt){
    document.getElementById("createNote").style.display = "none";
  });

  document.getElementById("cancel_editNote").addEventListener('click', function(evt){
    document.getElementById("changeNote").style.display = "none";
  });

  
  document.getElementById("cancel_removeNote").addEventListener('click', function(evt){
    document.getElementById("deleteNote").style.display = "none";
  });
  function refreshSongDropDown(trackName){
    var listOfAccordingSongs = songList[rawTrackList.indexOf(trackName)]["trackSongs"];
    document.getElementById("songs_addNote").innerHTML = "";
    document.getElementById("songs_editNote").innerHTML = "";
    var i = 0;
    listOfAccordingSongs.forEach(song => {
      document.getElementById("songs_addNote").innerHTML = document.getElementById("songs_addNote").innerHTML + "<option value=" + i + ">" + (song["songName"] + " (#" + (i+1) + ")") + "</option>"
      document.getElementById("songs_editNote").innerHTML = document.getElementById("songs_editNote").innerHTML + "<option value=" + i + ">" + (song["songName"] + " (#" + (i+1) + ")") + "</option>"
      i = i + 1;
    });
  }
  document.getElementById("phases_addNote").addEventListener('change', function(){
    var trackName = document.getElementById("phases_addNote")
    refreshSongDropDown(document.getElementById("phases_addNote").value);
  });
  document.getElementById("phases_editNote").addEventListener('change', function(){
    var trackName = document.getElementById("phases_editNote")
    refreshSongDropDown(document.getElementById("phases_editNote").value);
  });
  document.getElementById("addNote").addEventListener('click', function(evt){
    document.getElementById("title_addNote").value = ""
    document.getElementById("content_addNote").value = ""
    document.getElementById("after_addNote").checked = false
    document.getElementById("phases_addNote").value = rawTrackList[0]
    refreshSongDropDown(rawTrackList[0]);
    document.getElementById("songs_addNote").value = 0
    document.getElementById("createNote").style.display = "";
  });
  const {ipcRenderer} = require('electron');


  function resetNoteList(idToScrollTo){
    var rawStringsPinned = []
    pinnedNotes.forEach(role => {
      role["notes"].forEach(el => {
        rawStringsPinned.push(el["id"])
      });
      
    });
    document.getElementById('noteList_allnotes').innerHTML = "";
    document.getElementById('noteList_pinned').innerHTML = "";
    var i = 0;
    notes.forEach(role => {
      // request roleId to role mapping?
      var roleName = role["roleId"];
      var roleId = role["roleId"]
      role["notes"].filter(note => !rawStringsPinned.includes(note["id"])).sort((a,b) => (rawTrackList.indexOf(a["noteTrack"]) > rawTrackList.indexOf(b["noteTrack"])) ? 1 : ((rawTrackList.indexOf(a["noteTrack"]) == rawTrackList.indexOf(b["noteTrack"])) ? ((parseInt(a["noteSongIndex"]) > parseInt(b["noteSongIndex"]) ? 1 : -1)) : -1)).forEach(el => {
        var trackIndex = rawTrackList.indexOf(el["noteTrack"])
        var isValidlyPlaced = false
        if(songList[trackIndex]["trackSongs"][el["noteSongIndex"]]["songName"] == el["noteSong"]){
          isValidlyPlaced = true;
        }
        document.getElementById("noteList_allnotes").innerHTML = document.getElementById("noteList_allnotes").innerHTML + `
        <div id="${el["id"]}" class="elevatedframe note" style="margin:5px;text-align: left;">
          <span class="material-icons-round iconbutton thisispinned" style="font-size:20px;display: inline-block;text-align:left"></span><span id="${el["id"]}_title" class="thisismoved" style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:90%">${el["noteTitle"]}</span><div style="display: inline-block;">
            <span class="material-icons-round iconbutton" id="${el["id"]}_triggerOptions" style="font-size:20px;display: inline-block;text-align:left">more_horiz</span>
            <div class="option-dropdown" id="${el["id"]}_options" style="outline:none" tabindex="-1">
              <a href="#" class="pinNote option-dropdown-enabled" style="border-radius: 8px 8px 0px 0px" id="${roleId}|${el["id"]}|pin">Pin</a>
              <a href="#" class="editNote" style="text-decoration: none;border-radius: 0px 0px 0px 0px;" id="${roleId}|${el["id"]}|edit">Edit</a>
              <a href="#" class="removeNote" style="text-decoration: none;border-radius: 0px 0px 8px 8px;color:pink;" id="${roleId}|${el["id"]}|delete">Delete</a>
            </div>
          </div><br/>
          <span id="${el["id"]}_location" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isDuring"] ? "" : "After "}${el["noteSong"]} (${parseInt(el["noteSongIndex"])+1})</i></span><br/>
          <span id="${el["id"]}_creator" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${roleName}${el["isAdminIssued"] ? " (Director Issued)" : ""}</i></span><br/>
          <span id="${el["id"]}_content" style="text-align: left;color:white;font-size: 14px;display:inline-block;word-wrap: break-word;overflow-x:hidden">${el["noteContent"]}</span><br/>
          
          
        </div>
        `
        
      });
    });
    pinnedNotes.forEach(role => {
      var roleId = role["roleId"]
      var roleName = roles.filter(rm => rm["identifier"] == role["roleId"])[0].prettyName;
      role["notes"].sort((a,b) => (rawTrackList.indexOf(a["noteTrack"]) > rawTrackList.indexOf(b["noteTrack"])) ? 1 : ((rawTrackList.indexOf(a["noteTrack"]) == rawTrackList.indexOf(b["noteTrack"])) ? ((parseInt(a["noteSongIndex"]) > parseInt(b["noteSongIndex"]) ? 1 : -1)) : -1)).forEach(remake => {
        i = i+1;
        document.getElementById("noteList_pinned").innerHTML = document.getElementById("noteList_pinned").innerHTML + `
        <div id="${remake["id"]}" class="elevatedframe note" style="margin:5px;text-align: left;">
          <span class="material-icons-round iconbutton thisispinned" style="font-size:20px;display: inline-block;text-align:left"></span><span id="${remake["id"]}_title" class="thisismoved" style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:90%">${remake["noteTitle"]}</span><div style="display: inline-block;">
            <span class="material-icons-round iconbutton" id="${remake["id"]}_triggerOptions" style="font-size:20px;display: inline-block;text-align:left">more_horiz</span>
            <div class="option-dropdown" id="${remake["id"]}_options" style="outline:none" tabindex="-1">
              <a href="#" class="pinNote option-dropdown-enabled" style="border-radius: 8px 8px 0px 0px" id="${roleId}|${remake["id"]}|pin">Unpin</a>
              <a href="#" class="editNote" style="text-decoration: none;border-radius: 0px 0px 0px 0px;" id="${roleId}|${remake["id"]}|edit">Edit</a>
              <a href="#" class="removeNote" style="text-decoration: none;border-radius: 0px 0px 8px 8px;color:pink;" id="${roleId}|${remake["id"]}|delete">Delete</a>
            </div>
          </div><br/>
          <span id="${remake["id"]}_location" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${remake["isDuring"] ? "" : "After "}${remake["noteSong"]} (${parseInt(remake["noteSongIndex"])+1})</i></span><br/>
          <span id="${remake["id"]}_creator" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${roleName}${remake["isAdminIssued"] ? " (Director Issued)" : ""}</i></span><br/>
          <span id="${remake["id"]}_content" style="text-align: left;color:white;font-size: 14px;display:inline-block;word-wrap: break-word;overflow-x:hidden">${remake["noteContent"]}</span><br/>
          
          
        </div>
        `
      });
    });
    if(i > 0){
      document.getElementById("noteList_pinnedLabel").style.display = "inline-block"
      document.getElementById("noteList_allnotesLabel").style.display = "inline-block"
    }else{
      document.getElementById("noteList_pinnedLabel").style.display = "none"
      document.getElementById("noteList_allnotesLabel").style.display = "none"
    }
    notes.forEach(role => {
      role["notes"].forEach(el => {
        document.getElementById(el["id"] + "_triggerOptions").addEventListener('click', function(){
          document.getElementById(el["id"] + "_options").style.transform = "translateY(-" + document.getElementById("noteList").scrollTop + "px)"
          document.getElementById(el["id"] + "_options").style.display = "block"
          document.getElementById(el["id"] + "_options").focus()
        });
        document.getElementById(el["id"] + "_options").addEventListener('focusout', function(evt){
          if(evt.relatedTarget == null || evt.relatedTarget.localName != "a"){
            document.getElementById(el["id"] + "_options").style.display = "none"
          }
          
        });
      });
    })
    Array.from(document.getElementsByClassName("removeNote")).forEach(el => {
      el.addEventListener('click', function(evt){
        var roleId = evt.srcElement.id.split("|")[0]
      var noteId = evt.srcElement.id.split("|")[1]
      document.getElementById(noteId + "_options").style.display = "none"
      document.getElementById("selected_removeNote").value = roleId+"|"+noteId;
      document.getElementById("deleteNote").style.display = "";
      
    });
    
    })
    Array.from(document.getElementsByClassName("editNote")).forEach(el => {
      el.addEventListener('click', function(evt){
        var noteId = evt.srcElement.id.split("|")[1]
        var roleId = evt.srcElement.id.split("|")[0]
      var noteObject = notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0]
      document.getElementById(noteId + "_options").style.display = "none"
      document.getElementById("selected_editNote").value = noteId;
      document.getElementById("title_editNote").value = noteObject["noteTitle"]
      document.getElementById("content_editNote").value = noteObject["noteContent"]
      document.getElementById("after_editNote").checked = !noteObject["isDuring"]
      document.getElementById("phases_editNote").value = noteObject["noteTrack"]
      document.getElementById("roles_editNote").value = roleId
      refreshSongDropDown(noteObject["noteTrack"]);
      document.getElementById("songs_editNote").value = parseInt(noteObject["noteSongIndex"])
      document.getElementById("changeNote").style.display = "";
      
    });
    
    })
    Array.from(document.getElementsByClassName("pinNote")).forEach(el => {
      
        el.addEventListener('click', function(evt){
        var noteId = evt.srcElement.id.split("|")[1]
        var roleId = evt.srcElement.id.split("|")[0]
        if(pinnedNotes.filter(role => role["roleId"] == roleId).length == 0){
          document.getElementById(noteId + "_options").style.display = "none"
          var element = $('#' + noteId).detach();
          var emptyRoleContainer = {...notes.filter(role => role["roleId"] == roleId)[0]}
          emptyRoleContainer["notes"] = []
          emptyRoleContainer["notes"].push(notes.filter(role => role["roleId"] == roleId)[0].filter(note => note["id"] == noteId)[0])
          pinnedNotes.push(emptyRoleContainer)
          resetNoteList();
        }else{
          if(pinnedNotes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId).length == 0){
            //add to list
            pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].push(notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0])
          }else{
            //remove from list
            pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].splice(pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0]),1)
          }
          
          
          resetNoteList();
        }
        
        
      });
      
    })

    if(idToScrollTo != undefined && idToScrollTo != null){
      var topPos = document.getElementById(idToScrollTo).offsetTop;
      document.getElementById('noteList').scrollTop = topPos;
    }
  }

  ipcRenderer.on("songsToLoad", (event,args) => {
    // rename to songSchema soon
    songList = args['songs']['tracks']
    var phaseCreationIndex = 0
    songList.forEach(track => {
      rawTrackList.push(track["trackName"])
        document.getElementById('phases_addNote').innerHTML = document.getElementById('phases_addNote').innerHTML + '<option value="' + track["trackName"] + '">' + track["trackName"] + '</option>'
        document.getElementById('phases_editNote').innerHTML = document.getElementById('phases_editNote').innerHTML + '<option value="' + track["trackName"] + '">' + track["trackName"] + '</option>'
    });
    ipcRenderer.send("getNotes")
  });

  
  ipcRenderer.on('notesToLoad', (event,args) => {
    args["roleNotes"].forEach(role => {
      // request roleId to role mapping?
      var roleId = role["roleId"]
      var roleName = roles.filter(rm => rm["identifier"] == role["roleId"])[0].prettyName;
      notes.push(role)
      role["notes"].sort((a,b) => (rawTrackList.indexOf(a["noteTrack"]) > rawTrackList.indexOf(b["noteTrack"])) ? 1 : ((rawTrackList.indexOf(a["noteTrack"]) == rawTrackList.indexOf(b["noteTrack"])) ? ((parseInt(a["noteSongIndex"]) > parseInt(b["noteSongIndex"]) ? 1 : -1)) : -1)).forEach(el => {
        var trackIndex = rawTrackList.indexOf(el["noteTrack"])
        var isValidlyPlaced = false
        if(songList[trackIndex]["trackSongs"][el["noteSongIndex"]]["songName"] == el["noteSong"]){
          isValidlyPlaced = true;
        }
        
        document.getElementById("noteList_allnotes").innerHTML = document.getElementById("noteList_allnotes").innerHTML + `
        <div id="${el["id"]}" class="elevatedframe note" style="margin:5px;text-align: left;">
          <span class="material-icons-round iconbutton thisispinned" style="font-size:20px;display: inline-block;text-align:left"></span><span id="${el["id"]}_title" class="thisismoved" style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:90%">${el["noteTitle"]}</span><div style="display: inline-block;">
            <span class="material-icons-round iconbutton" id="${el["id"]}_triggerOptions" style="font-size:20px;display: inline-block;text-align:left">more_horiz</span>
            <div class="option-dropdown" id="${el["id"]}_options" style="outline:none" tabindex="-1">
              <a href="#" class="pinNote option-dropdown-enabled" style="border-radius: 8px 8px 0px 0px" id="${roleId}|${el["id"]}|pin">Pin</a>
              <a href="#" class="editNote" style="text-decoration: none;border-radius: 0px 0px 0px 0px;" id="${roleId}|${el["id"]}|edit">Edit</a>
              <a href="#" class="removeNote" style="text-decoration: none;border-radius: 0px 0px 8px 8px;color:pink;" id="${roleId}|${el["id"]}|delete">Delete</a>
            </div>
          </div><br/>
          <span id="${el["id"]}_location" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isDuring"] ? "" : "After "}${el["noteSong"]} (${parseInt(el["noteSongIndex"])+1})</i></span><br/>
          <span id="${el["id"]}_creator" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${roleName}${el["isAdminIssued"] ? " (Director Issued)" : ""}</i></span><br/>
          <span id="${el["id"]}_content" style="text-align: left;color:white;font-size: 14px;display:inline-block;word-wrap: break-word;overflow-x:hidden">${el["noteContent"]}</span><br/>
          
          
        </div>
        `
        
      });
    });
    
    notes.forEach(role => {
      role["notes"].forEach(el => {
        document.getElementById(el["id"] + "_triggerOptions").addEventListener('click', function(){
          document.getElementById(el["id"] + "_options").style.transform = "translateY(-" + document.getElementById("noteList").scrollTop + "px)"
          document.getElementById(el["id"] + "_options").style.display = "block"
          document.getElementById(el["id"] + "_options").focus()
        });
        document.getElementById(el["id"] + "_options").addEventListener('focusout', function(evt){
          if(evt.relatedTarget == null || evt.relatedTarget.localName != "a"){
            document.getElementById(el["id"] + "_options").style.display = "none"
          }
          
        });
      });
    })
    Array.from(document.getElementsByClassName("removeNote")).forEach(el => {
      el.addEventListener('click', function(evt){
      var noteId = evt.srcElement.id.split("|")[0]
      document.getElementById(noteId + "_options").style.display = "none"
      document.getElementById("selected_removeNote").value = noteId;
      document.getElementById("deleteNote").style.display = "";
      
    });
    
    })
    Array.from(document.getElementsByClassName("editNote")).forEach(el => {
      el.addEventListener('click', function(evt){
        var noteId = evt.srcElement.id.split("|")[1]
        var roleId = evt.srcElement.id.split("|")[0]
      var noteObject = notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0]
      document.getElementById(noteId + "_options").style.display = "none"
      document.getElementById("selected_editNote").value = noteId;
      document.getElementById("title_editNote").value = noteObject["noteTitle"]
      document.getElementById("content_editNote").value = noteObject["noteContent"]
      document.getElementById("after_editNote").checked = !noteObject["isDuring"]
      document.getElementById("phases_editNote").value = noteObject["noteTrack"]
      document.getElementById("roles_editNote").value = roleId
      refreshSongDropDown(noteObject["noteTrack"]);
      document.getElementById("songs_editNote").value = parseInt(noteObject["noteSongIndex"])
      document.getElementById("changeNote").style.display = "";
      
    });
    
    })
    Array.from(document.getElementsByClassName("pinNote")).forEach(el => {
      
        el.addEventListener('click', function(evt){
        var noteId = evt.srcElement.id.split("|")[1]
        var roleId = evt.srcElement.id.split("|")[0]
        if(pinnedNotes.filter(role => role["roleId"] == roleId).length == 0){
          document.getElementById(noteId + "_options").style.display = "none"
          var element = $('#' + noteId).detach();
          var emptyRoleContainer = {...notes.filter(role => role["roleId"] == roleId)[0]}
          emptyRoleContainer["notes"] = []
          emptyRoleContainer["notes"].push(notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0])
          pinnedNotes.push(emptyRoleContainer)
          resetNoteList();
        }else{
          if(pinnedNotes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId).length == 0){
            //add to list
            pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].push(notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0])
          }else{
            //remove from list
            pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].splice(pinnedNotes[pinnedNotes.indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0])]["notes"].indexOf(pinnedNotes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(note => note["id"] == noteId)[0]),1)
          }
          
          
          resetNoteList();
        }
        
        
      });
    });
    
  });

  function createNoteAndSubmit(){
    document.getElementById("createNote").style.display = "none";
    // assume that since it is the client, it is automatically going to be this role
    // maybe change calc id
    var id = "controller_music_" + (new Date().getTime())
    var trackIndex = rawTrackList.indexOf(document.getElementById("phases_addNote").value)
    var newObject = { 'id' : id, "noteTitle" : document.getElementById("title_addNote").value, "noteSong" : songList[trackIndex]["trackSongs"][document.getElementById("songs_addNote").value]["songName"], "noteSongIndex" : document.getElementById("songs_addNote").value, "noteTrack" : document.getElementById("phases_addNote").value, "isDuring" : (!document.getElementById("after_addNote").checked), "isDialogue" : false, "noteContent" : document.getElementById("content_addNote").value, "isAdminIssued" : false}
    console.log(newObject)
    ipcRenderer.send("noteChange", {change: 'create', data: JSON.stringify(newObject), role: 'controller_music'});
  }

  function deleteNoteAndSubmit(){
    document.getElementById("deleteNote").style.display = "none";
    // assume that since it is the client, it is automatically going to be this role
    // maybe change calc id
    var noteId = document.getElementById("selected_removeNote").value.split("|")[1]
    var roleId = document.getElementById("selected_removeNote").value.split("|")[0]
    var noteToDelete = notes.filter(role => role["roleId"] == roleId)[0]["notes"].filter(el => el["id"] == noteId)[0]
    
    console.log(noteToDelete)
    ipcRenderer.send("noteChange", {change: 'delete', data: JSON.stringify(noteToDelete), role: roleId});
  }

  function changeNoteAndSubmit(){
    document.getElementById("changeNote").style.display = "none";
    // assume that since it is the client, it is automatically going to be this role
    // maybe change calc id
    var noteId = document.getElementById("selected_removeNote").value.split("|")[1]
    var roleId = document.getElementById("selected_removeNote").value.split("|")[0]
    var trackIndex = rawTrackList.indexOf(document.getElementById("phases_editNote").value)

    console.log(document.getElementById("songs_editNote").value)
    var newObject = { 'id' : noteId, "noteTitle" : document.getElementById("title_editNote").value, "noteSong" : songList[trackIndex]["trackSongs"][document.getElementById("songs_editNote").value]["songName"], "noteSongIndex" : document.getElementById("songs_editNote").value, "noteTrack" : document.getElementById("phases_editNote").value, "isDuring" : (!document.getElementById("after_editNote").checked), "isDialogue" : false, "noteContent" : document.getElementById("content_editNote").value, "isAdminIssued" : false}
    console.log(newObject)
    ipcRenderer.send("noteChange", {change: 'update', data: JSON.stringify(newObject), role: roleId});
  }

  document.getElementById("delete_removeNote").addEventListener('click',deleteNoteAndSubmit);
  document.getElementById("save_editNote").addEventListener('click',changeNoteAndSubmit);

  document.getElementById("save_addNote").addEventListener('click', createNoteAndSubmit);

  ipcRenderer.on('roleMap', (event, args) => {
    roles = JSON.parse(args["roles"])
    roles.forEach(role => {
      document.getElementById("roles_editNote").innerHTML = document.getElementById("roles_editNote").innerHTML + `<option value="${role["identifier"]}">${role["prettyName"]}</option>`
      document.getElementById("roles_addNote").innerHTML = document.getElementById("roles_addNote").innerHTML + `<option value="${role["identifier"]}">${role["prettyName"]}</option>`
    });
    //document.getElementById("roles_editNote").innerHTML = document.getElementById("roles_editNote").innerHTML + `<option value="public_note">Public</option>`
    //document.getElementById("roles_addNote").innerHTML = document.getElementById("roles_editNote").innerHTML + `<option value="public_note">Public</option>`
    ipcRenderer.send("getMeSpiderman")
  })
  ipcRenderer.on('instancesSent', (event, args) => {
    var passedDownInstances = JSON.parse(args['rawJson'])
    var mySocketId = args['mySocketId']
    passedDownInstances.forEach(el => {
        el.role = el.role == undefined ? {} : el.role
        el.role.prettyName = el.role.prettyName == undefined ? "Logging in..." : el.role.prettyName
        document.getElementById("instanceList").innerHTML = document.getElementById("instanceList").innerHTML + `
              <div class="elevatedframe" style="display: table;width:95%" id="${el.socketId}_frame">
                <div style="vertical-align:middle;width:7%;display:${el.unresponsive ? "none" : "table-cell"}" id="${el.socketId}_responsive">
                  <span class="material-icons-round iconbuttonalt thissong" style="font-size:18px;" title="Connected!">done</span> 
                </div>
                <div style="vertical-align:middle;width:7%;display:${!el.unresponsive ? "none" : "table-cell"}" id="${el.socketId}_unresponsive">
                  <span class="material-icons-round iconbuttonalt thissong" style="font-size:18px;" title="We are having trouble connecting to this device right now...">bolt</span> 
                </div>
                
                <div style="display:table-cell;width:50%">
                  <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;display:block" id="${el.socketId}_roleName">${el.role.prettyName + (el.deviceId == mySocketId ? " (You)" : "")}</span>
                  <span style="text-align: left;color:white;font-size: 12px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;display:block" id="${el.socketId}_name">${el.deviceId}</span>
                </div>
                <span style="text-align: left;display: table-cell;color:white;font-size: 18px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis" id="${el.socketId}_ready">${el.ready == true ? "Ready" : "Not Ready"}</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">lock</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">logout</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">block</span>
              </div><br/>
              `
    });
  });

    ipcRenderer.on('instancesUpdate', (event, args) => {
        var instanceChanges = JSON.parse(args['rawJson'])
        var mySocketId = args['mySocketId']
        instanceChanges.forEach(ci => {
          console.log(ci.change)
            if(ci.change == "update"){
              ci.data.role = ci.data.role == undefined ? {} : ci.data.role
              ci.data.role.prettyName = ci.data.role.prettyName == undefined ? "Logging in..." : ci.data.role.prettyName
              document.getElementById(ci.data.socketId + "_responsive").style.display = ci.data.unresponsive ? "none" : "table-cell"
              document.getElementById(ci.data.socketId + "_unresponsive").style.display = !ci.data.unresponsive ? "none" : "table-cell"
              document.getElementById(ci.data.socketId + "_roleName").innerHTML = ci.data.role.prettyName + (ci.data.socketId == mySocketId ? " (You)" : "")
              document.getElementById(ci.data.socketId + "_ready").innerHTML = ci.data.ready == true ? "Ready" : "Not Ready"
            }else if(ci.change == "delete"){
              document.getElementById(ci.data.socketId + "_frame").remove()
            }else if(ci.change == "create"){
              var el = ci.data
              el.role = el.role == undefined ? {} : el.role
              el.role.prettyName = el.role.prettyName == undefined ? "Logging in..." : el.role.prettyName
              document.getElementById("instanceList").innerHTML = document.getElementById("instanceList").innerHTML + `
              <div class="elevatedframe" style="display: table;width:95%" id="${el.socketId}_frame">
                <div style="vertical-align:middle;width:7%;display:${el.unresponsive ? "none" : "table-cell"}" id="${el.socketId}_responsive">
                  <span class="material-icons-round iconbuttonalt thissong" style="font-size:18px;" title="Connected!">done</span> 
                </div>
                <div style="vertical-align:middle;width:7%;display:${!el.unresponsive ? "none" : "table-cell"}" id="${el.socketId}_unresponsive">
                  <span class="material-icons-round iconbuttonalt thissong" style="font-size:18px;" title="We are having trouble connecting to this device right now...">bolt</span> 
                </div>
                
                <div style="display:table-cell;width:50%">
                  <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;display:block" id="${el.socketId}_roleName">${el.role.prettyName + (el.deviceId == mySocketId ? " (You)" : "")}</span>
                  <span style="text-align: left;color:white;font-size: 12px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;display:block" id="${el.socketId}_name">${el.deviceId}</span>
                </div>
                <span style="text-align: left;display: table-cell;color:white;font-size: 18px;font-weight: 600;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis" id="${el.socketId}_ready">${el.ready == true ? "Ready" : "Not Ready"}</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">lock</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">logout</span>
                <span class="material-icons-round iconbutton download" style="font-size:24px;display: table-cell;vertical-align:middle;margin-right:5px;text-align:right;width:7%">block</span>
              </div><br/>
              `
            }
        });
    });

  ipcRenderer.send("getInstanceList")
  ipcRenderer.send("getRoleMap")
  const closeApp = document.getElementById('closeApp');
  closeApp.addEventListener('click', () => {
    ipcRenderer.send('quitapp');
  });
</script>

</html>
