<!DOCTYPE html>
<html lang="en">
<head>
  <title>Management System</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  <link rel='stylesheet' href='../public/css/theme.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body class="bg">
  <div class="outsidecontainer">
    <div class="leftcontainer" style="height:80%">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Songs</span>
      <br/>
      <br/>
      <div id="songList" style="height:95%;overflow-y:auto">

      </div>
      
      
    </div>
    <div class="rightcontainer">
      <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block">Now Playing</span>
      <br/>
      <br/>
      <div class="elevatedframe" style="width: 100%;text-align: center;">
        <span style="text-align: center;color:white;font-size: 40px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:100%" id="songNamePlaying">You'll Be In My Heart</span><br/>
        <span style="text-align: center;color:white;font-size: 20px;font-weight: 600;display:inline-block" id="songPositionPlaying">Act 1 - Song 2</span><br/>
        <!--<span class="material-icons-round iconbutton" style="font-size:24px;display: inline-block;vertical-align:middle" id="restartSong">replay</span>-->
        <div style="border: 3px solid white;height: 25px;width: 50%;display: inline-block;border-radius: 18px;background-color: transparent;padding-left: 3px;padding-right: 3px;text-align: left;margin-top: 30px;margin-left:0px" id="progressSlider">
          <div style="border: none;height: 11px;display: inline-block;border-radius: 18px;background-color: white" class="songprogress" id="songProgress"></div>
        </div><br/>
        <div style="display: inline-block;width: 50%;text-align: right;">
          <span style="color:white;font-size: 20px;display:inline-block" id="progressText">0:00 / 0:00</span>
        </div><br/>
        <div style="text-align: center;display: flex;margin-top: 30px;justify-content: center;">
          <div style="text-align: center;width: 100%;">
            <div style="width: 30%;float: left;vertical-align:middle">
              <span class="material-icons-round iconbutton" style="font-size:16px;display: inline-block;margin-top: 4px;" id="muteVolume">volume_up</span>
              <div style="border: 3px solid white;height: 16px;display: inline-block;width: 75%;border-radius: 18px;background-color: transparent;padding-left: 3px;padding-right: 3px;text-align: left;margin-top: 20px;padding: 2px;" id="volumeSlider">
                <div style="border: none;height: 6px;width: 50%;border-radius: 18px;background-color: white" id="volumeVisual"></div>
              </div>
            </div>
            <div style="width: 30%;float: right;vertical-align:middle;margin-top:8px">
              <span class="material-icons-round elevatedbutton" style="font-size:20px;display:inline-block;text-align: center;border-radius: 12px;padding: 8px 10px 8px 10px;margin-right: 10px;vertical-align:middle">lock</span>
              <span class="material-icons-round elevatedbutton" id="changeAutoplay" style="font-size:20px;display:inline-block;text-align: center;border-radius: 12px;padding: 8px 10px 8px 10px;margin-right: 10px;vertical-align:middle">autorenew</span>
              <span class="material-icons-round elevatedbutton" id="changeShuffle" style="font-size:20px;display:inline-block;text-align: center;border-radius: 12px;padding: 8px 10px 8px 10px;margin-right: 10px;vertical-align:middle">shuffle</span>
            </div>
            
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;vertical-align:middle" id="prevSong">skip_previous</span>
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;vertical-align:middle" id="playSong">play_arrow</span>
            <span class="material-icons-round iconbutton" style="font-size:56px;display: inline-block;vertical-align:middle" id="nextSong">skip_next</span>
            
          </div>
        </div>
        
        
      </div>
      <br/>
      <span style="text-align: left;color:white;font-size: 40px;font-weight: 600;display:inline-block;vertical-align: middle;">Notes</span>
      <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="addNote" type="button" value="Add Note"/>
        <br/>
        <div style="text-align: center;display: flex;flex-wrap: wrap;height:38vh;overflow-y: auto;" id="noteList">
          
        
          
          
          
        </div>
      
      
    </div>
    <div class="statuscontainer">
      <div style="display: flex;">
        <div class="elevatedframe" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;vertical-align: middle">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;vertical-align: middle">Act 1</span>
        </div>
        <div class="elevatedframe" style="display: inline-block;padding-top: 8px;padding-bottom: 8px;margin-right: 12px;vertical-align: middle">
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;margin-right: 5px;vertical-align: middle">Music Controller</span>
          <span style="height: 10px;width: 10px;background-color: green;display: inline-block;border-radius: 50%;vertical-align: middle" title="You Are Online!"></span>
          
        </div>
        <input style="display:inline-block;text-align: center;border-radius: 20px;font-size: 15px;padding: 8px 15px 8px 15px;" class="elevatedbutton" id="closeApp" type="button" value="Exit App"/>
      </div>
      
    </div>
    <div class="additionalcontainer" style="bottom: 20px;">
      <div style="display: flex;">
        <div class="elevatedframe elevatedframebutton" style="display: inline-block;margin-right: 12px;padding-top: 8px;padding-bottom: 8px;vertical-align: middle" id="readyToggle">
          <span class="material-icons-round iconbutton" style="text-align: center;color:white;font-size: 18px;display:inline-block;vertical-align: middle;margin-right:4px" id="readyIcon">thumb_down</span>
          <span style="text-align: center;color:white;font-size: 15px;font-weight: 600;display:inline-block;vertical-align: middle" id="readyLabel">Not Ready</span>
          
        </div>
      </div>
      
    </div>
    <div id="createNote" class="overlayBox" style="display:none;text-align:center;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="elevatedframe" style="display:inline-block;max-width:500px;padding:30px">
          <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Create a Note</span>
          
          <span style="color: white;font-size:12px;margin-bottom: 20px;display:block">Phases are certain segments of your program that hold music and notes. The director may choose to hide a phase or enforce the use of a phase during a show.</span>
          <table style="width:100%;margin-bottom:10px">
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Phase Name   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="phaseName" id="phases_addNote" style="display:inline-block;padding:10px;width:90%" class="textbox"></select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Song Name (+ Number)   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <select name="songName" id="songs_addNote" style="display:inline-block;padding:10px;width:90%" class="textbox">
            
                </select>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">After Song?   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input type="checkbox" class="textbox" id="after_addNote" style="margin-left:10px"/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px">Note Title   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="title_addNote" placeholder="Cool Title..."/>
              </td>
            </tr>
            <tr>
              <td style="text-align:right;padding:5px;width:40%;vertical-align: middle;padding-top:12px">
                <span style="color: white;font-size:12px;font-weight:600;margin-right:5px;">Note Content   </span>
              </td>
              <td style="text-align:left;padding:5px;width:60%;vertical-align: middle;">
                <input class="textbox" style="display:inline-block;font-size:14px;width:90%;margin-top: 4px;" id="content_addNote" placeholder="Descriptive Description..."/><br/>
              </td>
            </tr>
            
          </table>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="cancel_addNote" type="button" value="Cancel"/>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="save_addNote" type="button" value="Save"/>
        </div>
      </div>
      
    </div>
    <div id="deleteNote" class="overlayBox" style="display:none;text-align:center;">
      <div style="width:100%;height:100%;display: flex;align-items:center;justify-content:center">
        <div class="elevatedframe" style="display:inline-block;padding:30px;max-width:500px">
          <input style="display: none;" id="selected_removeNote" value=""/>
          <span style="color: white;font-size:20px;font-weight:600;margin-bottom: 5px;display:block">Are you sure?</span>
          <span style="color: white;font-size:12px;margin-bottom: 10px;display:block">You are about to permanately delete a note for everyone who has access to it. This action cannot be reversed!</span>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;margin-top: 5px;" class="elevatedbutton" id="cancel_removeNote" type="button" value="Cancel"/>
          <input style="display:inline-block;text-align: center;font-size: 15px;padding: 8px 15px 8px 15px;margin-left:10px;vertical-align: middle;" class="elevatedbutton" id="delete_removeNote" type="button" value="Delete"/>
        </div>
      </div>
      
    </div>
  </div>
  

</body>

<script src="../vendor/howler/dist/howler.js"></script>
<script>

  
  
  let notes = []
  let currentlyUpNext = []
  let previouslyPinned = undefined;

  notes.forEach(note => {
    
  });

  $(document).ready(function(){
    $(".pinThisNote").live('click',function(){
      if($(this).attr("value") == "Unpin"){
        $(this).css("background-color", "")
        $(this).css("color", "white")
        $(this).attr("value", "Pin")

        $($(this).parent().parent().find(".thisispinned")[0]).css("margin-right", "0px")
        $(this).parent().parent().find(".thisispinned")[0].innerHTML = ""
        var notCurrentlyUpNext = notes.filter(note => !currentlyUpNext.includes(note))
        var toSetBackTo = notes.indexOf(notCurrentlyUpNext.filter(note => note == ($($(this).parent().parent()).attr("id")))[0])
        var save = $(this).parent().parent().clone()[0]
        $(this).parent().parent().remove()
        if(toSetBackTo > 0){
          $(save).insertAfter("#noteList div:nth-child(" + (toSetBackTo) + ")")
        }else{
          $("#noteList").prepend(save);
        }
        previouslyPinned = undefined
        //$(this).parent().parent().remove();
      }else{
        if(previouslyPinned != undefined && $(previouslyPinned).parent().parent().attr("id") != $(this).parent().parent().attr("id")){
          var element = $("#noteList").find("#" + $($(previouslyPinned).parent().parent()).attr("id"))
          $(previouslyPinned).css("background-color", "")
          console.log($(previouslyPinned).css("background-color"))
          $(previouslyPinned).css("color", "white")
          $(previouslyPinned).attr("value", "Pin")
          $($(previouslyPinned).parent().parent().find(".thisispinned")[0]).css("margin-right", "0px")
          $(previouslyPinned).parent().parent().find(".thisispinned")[0].innerHTML = ""
          
          var notCurrentlyUpNext = notes.filter(note => !currentlyUpNext.includes(note))
          var toSetBackTo = notes.indexOf(notCurrentlyUpNext.filter(note => note == ($($(previouslyPinned).parent().parent()).attr("id")))[0])
          var save = $(previouslyPinned).parent().parent().clone()[0]
          $(previouslyPinned).parent().parent().remove()
          if(toSetBackTo > 0){
            $(save).insertAfter("#noteList div:nth-child(" + (toSetBackTo) + ")")
          }else{
            $("#noteList").prepend(save);
          }
          
          
          
        }
        $(this).css("background-color", "white")
        $(this).attr("value", "Unpin")
        $(this).css("color", "#202342")
        $(this).parent().parent().find(".thisispinned")[0].innerHTML = "push_pin"
        $($(this).parent().parent().find(".thisispinned")[0]).css("margin-right", "3px")
        $(this).parent().parent().hide().prependTo("#noteList").show();
        
        previouslyPinned = this
      }
      
      
    });
  });

  

  class Song{
    constructor(name, filetype, location, downloaded){
      this.name = name;
      this.filetype = filetype;
      this.location = location;
      this.downloaded = downloaded;
    }
  }

  // THERE IS NO CAP ON THIS NUMBER
  // WHATEVER YOU DO, DO NOT PUT THIS OVER 1
  var setVolume = .5
  var currentTrack = "";
  var currentlyChangingVolume = false;
  let rawTrackList = []
  let downloadedSongs = []
  var currentSong = undefined;
  let autoplay = false;
  let songList = []
  var sound = undefined
  var songFilesTracked = []

  document.getElementById("addNote").addEventListener('click', function(evt){
    document.getElementById("createNote").style.display = "";
  });
  document.getElementById("cancel_addNote").addEventListener('click', function(evt){
    document.getElementById("createNote").style.display = "none";
  });

  
  document.getElementById("cancel_removeNote").addEventListener('click', function(evt){
    document.getElementById("deleteNote").style.display = "none";
  });
  function refreshSongDropDown(trackName){
    var listOfAccordingSongs = songList[rawTrackList.indexOf(trackName)]["trackSongs"];
    document.getElementById("songs_addNote").innerHTML = "";
    var i = 0;
    listOfAccordingSongs.forEach(song => {
      document.getElementById("songs_addNote").innerHTML = document.getElementById("songs_addNote").innerHTML + "<option value=" + i + ">" + (song["songName"] + " (#" + (i+1) + ")") + "</option>"
      i = i + 1;
    });
  }
  document.getElementById("phases_addNote").addEventListener('change', function(){
    var trackName = document.getElementById("phases_addNote")
    refreshSongDropDown(document.getElementById("phases_addNote").value);
  });

  let shuffleState = { current: false, index: 0, shuffleIndexes: []};

  function resetShuffle(){
    // calc track index here
    var track = currentTrack;
    var trackIndex = rawTrackList.indexOf(track);
    ranNums = []
    var amountOfNums = songList[trackIndex]["trackSongs"].length;
    var nums = [],
        ranNums = [],
        j = 0;
    
    while(amountOfNums--){
      nums.push(amountOfNums)
    }
    var i = nums.length
    while (i--) {
        j = Math.floor(Math.random() * (i+1));
        ranNums.push(nums[j]);
        nums.splice(j,1);
    }
    
    shuffleState.current = true;
    shuffleState.index = 0;
    shuffleState.shuffleIndexes = ranNums;
    if(sound == undefined || !sound.playing()){
      // PLAY FIRST SONG HERE
    }else{
      // Get the currently playing song and remove it from shuffle list!
      var IRemoveThis = shuffleState.shuffleIndexes.indexOf(songList[trackIndex]["trackSongs"].indexOf(currentSong));
      shuffleState.shuffleIndexes.splice(IRemoveThis, 1)
      shuffleState.shuffleIndexes.unshift(songList[trackIndex]["trackSongs"].indexOf(currentSong))
    }
    document.getElementById("changeShuffle").style.backgroundColor = "white"
    document.getElementById("changeShuffle").style.color = "#262947"
  }

  function disableShuffle(evt){
    shuffleState.current = false
    document.getElementById("changeShuffle").style.backgroundColor = "#262947"
    document.getElementById("changeShuffle").style.color = "white"
  }

  document.getElementById("changeShuffle").addEventListener('click', function(evt){
    if(shuffleState.current){
      disableShuffle(evt);
    }else{
      resetShuffle(evt);
    }
  });

  
  document.getElementById("songNamePlaying").innerHTML = "No Song Playing!"
  document.getElementById("songPositionPlaying").innerHTML = "Please Select a Song...";

  function changeSongListView(previousSongName){
    try{
      document.getElementById(currentTrack + "|" + previousSongName["songName"] + "." + previousSongName["fileType"]).innerHTML = "play_arrow"
    }catch(ex){

    }
    try{
      document.getElementById(currentSong["songName"]).innerHTML = "pause"
    }catch(ex){

    }
  }

  function muteVolume(){
    document.getElementById("muteVolume").innerHTML = "volume_off";
    try{
      document.getElementById("volumeVisual").animate([{width: (setVolume*100) + "%"}, {width: "0%"}], {duration: 500, easing: 'ease-in-out'})
      document.getElementById("volumeVisual").style.width = "0%"
      setVolume = 0;
      
      sound.fade(sound.volume(), 0, 500);
    }catch(err){

    }
  }

  function changeVolume(event){
    // For some reason it can trigger the visual???
    var actualElement = document.getElementById("volumeSlider");
    console.log(actualElement.clientWidth)
    let widthToHandle = (actualElement.clientWidth)-4;
    // Check if in bar
    if(event.offsetX <= widthToHandle && event.offsetX >= 0){
      let percentage = (event.offsetX / (actualElement.clientWidth-4))*100
      if(percentage > 0){
        document.getElementById("muteVolume").innerHTML = "volume_up";
      }else{
        document.getElementById("muteVolume").innerHTML = "volume_off";
      }
      document.getElementById("volumeVisual").animate([{width: (setVolume*100) + "%"}, {width: percentage + "%"}], {duration: 500, easing: 'ease-in-out'})
      document.getElementById("volumeVisual").style.width = percentage + "%"
      setVolume = percentage/100;
      try{
        sound.fade(sound.volume(), setVolume, 500);
        //sound.volume(setVolume);
      }catch(err){

      }
    }
  }
  document.getElementById("muteVolume").addEventListener("click", muteVolume)
  document.getElementById("volumeSlider").addEventListener("click", changeVolume)

  function changeSongPos(event){
    // For some reason it can trigger the visual???
    var actualElement = document.getElementById("progressSlider");
    console.log(actualElement.clientWidth)
    let widthToHandle = (actualElement.clientWidth)-6;
    // Check if in bar
    if(event.offsetX <= widthToHandle && event.offsetX >= 0){
      let multiplier = (event.offsetX / (actualElement.clientWidth-6))
      document.getElementById("songProgress").style.width = (multiplier*100) + "%"
      sound.seek(sound.duration()*multiplier);
    }
  }

  document.getElementById("progressSlider").addEventListener("click", changeSongPos)

  function playNextSong(useIndex){
    var prevSong = "";
    var track = currentTrack;
    var trackIndex = rawTrackList.indexOf(track);
    var indexOfSong = useIndex
    try{
      prevSong = currentSong;
    }catch(ex){

    }
    console.log(shuffleState.shuffleIndexes)
    document.getElementById("songNamePlaying").innerHTML = songList[trackIndex]["trackSongs"][useIndex]["songName"];
    document.getElementById("songPositionPlaying").innerHTML = track + " - Song " + (useIndex + 1);
    var location = downloadedSongs.includes(songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]) ? "../public/audio/" : "http://localhost:3000/audio/"
    sound = new Howl({
      src: [location + (songList[trackIndex]["trackSongs"][indexOfSong]["songName"]) + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(!shuffleState.current){
              if(autoplay && indexOfSong < (songList[trackIndex]["trackSongs"].length-1)){
                playNextSong(indexOfSong+1)
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }else{
              if(!(shuffleState.index == (shuffleState.shuffleIndexes.length - 1))){
                shuffleState.index = shuffleState.index + 1;
                console.log(shuffleState.shuffleIndexes[shuffleState.index])
                playNextSong(shuffleState.shuffleIndexes[shuffleState.index])
                
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["songName"] + "." + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["fileType"] + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }
            
          }
        });
        currentSong = songList[trackIndex]["trackSongs"][indexOfSong]
        changeSongListView(prevSong)
        sound.play();
        if(shuffleState.current){
          var prevSongIndex = shuffleState.shuffleIndexes[shuffleState.shuffleIndexes.indexOf(useIndex)-1]
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["songName"] + "." + songList[trackIndex]["trackSongs"][prevSongIndex]["fileType"] + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }else{
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][useIndex-1]["songName"] + "." + songList[trackIndex]["trackSongs"][useIndex-1]["fileType"] + "|" + songList[trackIndex]["trackSongs"][useIndex-1]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }
        
  }

  function setSongAndPlay(element){
    var filetype = element.srcElement.id.split("|")[1].split(".")[element.srcElement.id.split("|")[1].split(".").length-1]
    var name = element.srcElement.id.split("|")[1].substring(0, element.srcElement.id.split("|")[1].length - filetype.length - 1)
    var instanceNum = parseInt(element.srcElement.id.split("|")[2])
    var track = element.srcElement.id.split("|")[0]
    
    if(element.srcElement.innerHTML == "play_arrow"){
      var prevSong = "";
      try{
        prevSong = currentSong;
      }catch(ex){

      }
      if(sound != undefined){
        if(currentSong["songName"] != name){
          if(sound._src != undefined && sound.playing()){
            sound.stop();
          }
          var trackIndex = rawTrackList.indexOf(track);
          var indexOfSong = songList[trackIndex]["trackSongs"].indexOf(songList[trackIndex]["trackSongs"].filter(song => song["songName"] == name && song["instanceIndex"] == instanceNum)[0]);
          
          document.getElementById("songNamePlaying").innerHTML = name;
          document.getElementById("songPositionPlaying").innerHTML = track + " - Song " + (indexOfSong + 1);
          var location = downloadedSongs.includes(name + "." + filetype) ? "../public/audio/" : "http://localhost:3000/audio/"
          sound = new Howl({
            src: [location + name + "." + filetype],
            volume: setVolume,
            onend: function(){
              
              document.getElementById("songProgress").style.width = "0%"
              if(!shuffleState.current){
                if(autoplay && indexOfSong < (songList[trackIndex]["trackSongs"].length-1)){
                  playNextSong(indexOfSong+1)
                }else{
                  document.getElementById("playSong").innerHTML = "play_arrow";
                  document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "play_arrow"
                }
              }else{
                if(!(shuffleState.index == (shuffleState.shuffleIndexes.length - 1))){
                  shuffleState.index = shuffleState.index + 1;
                  console.log(shuffleState.shuffleIndexes[shuffleState.index])
                  playNextSong(shuffleState.shuffleIndexes[shuffleState.index])
                }else{
                  document.getElementById("playSong").innerHTML = "play_arrow";
                  document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["songName"] + "." + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["fileType"] + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["instanceIndex"]).innerHTML = "play_arrow"
                }
              }
            }
          });
          currentSong = songList[trackIndex]["trackSongs"][indexOfSong]
          shuffleState.shuffleIndexes.unshift(songList[trackIndex]["trackSongs"].indexOf(currentSong))
          changeSongListView(prevSong)

          sound.play();
          document.getElementById("playSong").innerHTML = "pause";
          document.getElementById(element.srcElement.id).innerHTML = "pause"
          currentTrack = track
          if(shuffleState.current){
            resetShuffle();
            shuffleState.shuffleIndexes.splice(songList[trackIndex]["trackSongs"][indexOfSong], 1)
          }
        }else{
          document.getElementById("playSong").innerHTML = "pause";
          document.getElementById(element.srcElement.id).innerHTML = "pause"
          sound.play()
        }
      }else{
        var trackIndex = rawTrackList.indexOf(track);
          var indexOfSong = songList[trackIndex]["trackSongs"].indexOf(songList[trackIndex]["trackSongs"].filter(song => song["songName"] == name && song["instanceIndex"] == instanceNum)[0]);
          if(shuffleState.current){
            resetShuffle();
            shuffleState.shuffleIndexes.splice(songList[trackIndex]["trackSongs"][indexOfSong], 1)
          }
          document.getElementById("songNamePlaying").innerHTML = name;
          document.getElementById("songPositionPlaying").innerHTML = track + " - Song " + (indexOfSong + 1);
          var location = downloadedSongs.includes(name + "." + filetype) ? "../public/audio/" : "http://localhost:3000/audio/"
          sound = new Howl({
            src: [location + name + "." + filetype],
            volume: setVolume,
            onend: function(){
              
              document.getElementById("songProgress").style.width = "0%"
              if(!shuffleState.current){
                if(autoplay && indexOfSong < (songList[trackIndex]["trackSongs"].length-1)){
                  playNextSong(indexOfSong+1)
                }else{
                  document.getElementById("playSong").innerHTML = "play_arrow";
                  document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "play_arrow"
                }
              }else{
                if(!(shuffleState.index == (shuffleState.shuffleIndexes.length - 1))){
                  shuffleState.index = shuffleState.index + 1;
                  console.log(shuffleState.shuffleIndexes[shuffleState.index])
                  playNextSong(shuffleState.shuffleIndexes[shuffleState.index])
                }else{
                  document.getElementById("playSong").innerHTML = "play_arrow";
                  document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["songName"] + "." + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["fileType"] + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["instanceIndex"]).innerHTML = "play_arrow"
                }
              }
            }
          });
          currentSong = songList[trackIndex]["trackSongs"][indexOfSong]
          shuffleState.shuffleIndexes.unshift(songList[trackIndex]["trackSongs"].indexOf(currentSong))
          changeSongListView(prevSong)
          currentTrack = track
          sound.play();
          document.getElementById("playSong").innerHTML = "pause";
          document.getElementById(element.srcElement.id).innerHTML = "pause"
      }
    }else{
      document.getElementById("playSong").innerHTML = "play_arrow";
      document.getElementById(element.srcElement.id).innerHTML = "play_arrow";
      sound.pause();
    }
    
    
    
  }

  function restartSong(){
    try{
      sound.seek(0);
    }catch(error){

    }
  }

  
  

  //document.getElementById("restartSong").addEventListener("click", restartSong)
  function nextSongControl(){
    var prevSong = "";
    var track = currentTrack;
    var trackIndex = rawTrackList.indexOf(track);
    try{
      prevSong = currentSong;
    }catch(ex){

    }
    try{
      var indexOfPrevSong = songList[trackIndex]["trackSongs"].indexOf(songList[trackIndex]["trackSongs"].filter(song => song["songName"] == currentSong["songName"] && song["instanceIndex"] == currentSong["instanceIndex"])[0])
      var valToCompareTo = (songList[trackIndex]["trackSongs"].length-1)
      if(shuffleState.current){
        indexOfPrevSong = shuffleState.index
        valToCompareTo = shuffleState.shuffleIndexes.length-1
      }
      if(indexOfPrevSong < valToCompareTo){
        try{
          sound.stop();
        }catch(snd){

        }
        var indexOfSong = indexOfPrevSong + 1;
        if(shuffleState.current){
          shuffleState.index = shuffleState.index + 1;
          indexOfSong = shuffleState.shuffleIndexes[shuffleState.index]
          console.log(shuffleState.index)
          console.log(shuffleState.shuffleIndexes)
        }
        document.getElementById("songNamePlaying").innerHTML = songList[trackIndex]["trackSongs"][indexOfSong]["songName"];
        document.getElementById("songPositionPlaying").innerHTML = track + " - Song " + (indexOfSong + 1);
        var location = downloadedSongs.includes(songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]) ? "../public/audio/" : "http://localhost:3000/audio/"
        sound = new Howl({
          src: [location + (songList[trackIndex]["trackSongs"][indexOfSong]["songName"]) + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(!shuffleState.current){
              if(autoplay && indexOfSong < (songList[trackIndex]["trackSongs"].length-1)){
                playNextSong(indexOfSong+1)
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }else{
              if(!(shuffleState.index == (shuffleState.shuffleIndexes.length - 1))){
                shuffleState.index = shuffleState.index + 1;
                playNextSong(shuffleState.shuffleIndexes[shuffleState.index])
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["songName"] + "." + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["fileType"] + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }
          }
        });
        currentSong = songList[trackIndex]["trackSongs"][indexOfSong]
        changeSongListView(prevSong)
        sound.play();
        
        if(shuffleState.current){
          var prevSongIndex = shuffleState.shuffleIndexes[indexOfPrevSong]
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["songName"] + "." + songList[trackIndex]["trackSongs"][prevSongIndex]["fileType"] + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }else{
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfPrevSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfPrevSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfPrevSong]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }
      }
      // Error message handling
        
    }catch(err){
      console.log(err)
    }
  }
  function prevSongControl(){
    var prevSong = "";
    var track = currentTrack;
    var trackIndex = rawTrackList.indexOf(track);
    try{
      prevSong = currentSong;
    }catch(ex){

    }
    try{
      var indexOfPrevSong = songList[trackIndex]["trackSongs"].indexOf(songList[trackIndex]["trackSongs"].filter(song => song["songName"] == currentSong["songName"] && song["instanceIndex"] == currentSong["instanceIndex"])[0])
      var valToCompareTo = (songList[trackIndex]["trackSongs"].length-1)
      if(shuffleState.current){
        indexOfPrevSong = shuffleState.index
        valToCompareTo = shuffleState.shuffleIndexes.length
      }
      if(indexOfPrevSong > 0){
        try{
          sound.stop();
        }catch(snd){

        }
        var indexOfSong = indexOfPrevSong - 1;
        if(shuffleState.current){
          shuffleState.index = shuffleState.index - 1;
          indexOfSong = shuffleState.shuffleIndexes[shuffleState.index]
        }
        document.getElementById("songNamePlaying").innerHTML = songList[trackIndex]["trackSongs"][indexOfSong]["songName"];
        document.getElementById("songPositionPlaying").innerHTML = track + " - Song " + (indexOfSong + 1);
        var location = downloadedSongs.includes(songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]) ? "../public/audio/" : "http://localhost:3000/audio/"
        sound = new Howl({
          src: [location + (songList[trackIndex]["trackSongs"][indexOfSong]["songName"]) + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"]],
          volume: setVolume,
          onend: function(){
            document.getElementById("songProgress").style.width = "0%"
            if(!shuffleState.current){
              if(autoplay && indexOfSong < (songList[trackIndex]["trackSongs"].length-1)){
                playNextSong(indexOfSong+1)
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }else{
              if(!(shuffleState.index == (shuffleState.shuffleIndexes.length - 1))){
                shuffleState.index = shuffleState.index + 1;
                playNextSong(shuffleState.shuffleIndexes[shuffleState.index])
              }else{
                document.getElementById("playSong").innerHTML = "play_arrow";
                document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["songName"] + "." + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["fileType"] + "|" + songList[trackIndex]["trackSongs"][shuffleState.shuffleIndexes[shuffleState.index]]["instanceIndex"]).innerHTML = "play_arrow"
              }
            }
          }
        });
        currentSong = songList[trackIndex]["trackSongs"][indexOfSong]
        changeSongListView(prevSong)
        sound.play();
        if(shuffleState.current){
          var prevSongIndex = shuffleState.shuffleIndexes[indexOfPrevSong]
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["songName"] + "." + songList[trackIndex]["trackSongs"][prevSongIndex]["fileType"] + "|" + songList[trackIndex]["trackSongs"][prevSongIndex]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }else{
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfPrevSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfPrevSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfPrevSong]["instanceIndex"]).innerHTML = "play_arrow";
          document.getElementById(track + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["songName"] + "." + songList[trackIndex]["trackSongs"][indexOfSong]["fileType"] + "|" + songList[trackIndex]["trackSongs"][indexOfSong]["instanceIndex"]).innerHTML = "pause";
          document.getElementById("playSong").innerHTML = "pause";
        }
      }
      // Error message handling
        
    }catch(err){
      console.log(err)
    }
  }
  document.getElementById("nextSong").addEventListener("click", nextSongControl)
  document.getElementById("prevSong").addEventListener("click", prevSongControl)

  function autoplayToggle(){
    autoplay = !autoplay;
    document.getElementById("changeAutoplay").style.backgroundColor = autoplay ? "white" : "#262947"
    document.getElementById("changeAutoplay").style.color = autoplay ? "#262947" : "white"
  }
  document.getElementById("changeAutoplay").addEventListener("click", autoplayToggle)
  function updateTextTime(inSong, outOfSong){
    inSong = Math.round(inSong);
    
  }

  

  function updateWidth(to, outOf) {
    if(sound != undefined){
      var inSong = to 
      var outOfSong = outOf
      if (sound.playing()) {
        let width = (inSong/outOfSong)*100;
        width = width > 100 ? 100 : width;
        document.getElementById("songProgress").style.width = width + "%"
      }
      inSong = Math.round(inSong)
      outOfSong = Math.round(outOfSong)
      var inSongM = Math.floor(inSong / 60)
      var inSongS = Math.floor(inSong % 60)
      var inSongF = inSongM + ":" + (inSongS.toString().length == 1 ? "0" + inSongS : inSongS);
      var outOfSongM = Math.floor(outOfSong / 60)
      var outOfSongS = Math.floor(outOfSong % 60)
      var outOfSongF = outOfSongM + ":" + (outOfSongS.toString().length == 1 ? "0" + outOfSongS : outOfSongS);
      document.getElementById("progressText").innerHTML = inSongF + " / " + outOfSongF;
    }
    
  }

  document.getElementById("playSong").addEventListener("click", function (){
    if(!sound.playing()){
      sound.play();
      document.getElementById("playSong").innerHTML = "pause";
      document.getElementById(currentTrack + "|" + currentSong["songName"] + "." + currentSong["fileType"] + "|" + currentSong["instanceIndex"]).innerHTML = "pause"
    }else{
      sound.pause();
      document.getElementById("playSong").innerHTML = "play_arrow";
      document.getElementById(currentTrack + "|" + currentSong["songName"] + "." + currentSong["fileType"] + "|" + currentSong["instanceIndex"]).innerHTML = "play_arrow"
    }
    
  });
  

  const {ipcRenderer} = require('electron');

  function download(event){
    var filetype = event.srcElement.id.split("|")[1].split(".")[event.srcElement.id.split("|")[1].split(".").length-1]
    var name = event.srcElement.id.split("|")[1].substring(0, event.srcElement.id.split("|")[1].length - filetype.length - 1)
    var uselessButton = event.srcElement.cloneNode(true)
    event.srcElement.parentNode.replaceChild(uselessButton, event.srcElement);
    ipcRenderer.send("downloadFile", {'sourceFolder' : 'audio', 'fileName' : name, 'fileType' : filetype });
    event.srcElement.innerHTML = "downloading";
  }

  setInterval(() => {
    try{
      var to = sound.seek()
      var outOf = sound.duration();
      updateWidth(to, outOf);
      var trackIndex = rawTrackList.indexOf(currentTrack);
      ipcRenderer.send("songControl", { seek: to, duration: outOf, paused: !sound.playing(), name: currentSong["songName"], subtitle: currentTrack + " - Song " +  (songList[trackIndex]["trackSongs"].indexOf(songList[trackIndex]["trackSongs"].filter(el => el["songName"] == currentSong["songName"])[0])+1)})
    }catch(err){

    }
    
  },100);
  ipcRenderer.on('downloadSuccess', (event,args) => {
    downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cloud_done"
    setTimeout(function(){
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).animate([{opacity: 1}, {opacity:0}], {duration: 2000, easing: 'ease-in-out'})
      document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).style.opacity = 0;
    }, 3000)
    
    
  });
  ipcRenderer.on('downloadFailure', (event,args) => {
    //downloadedSongs.push(args["fileName"] + "." + args["fileType"])
    document.getElementById("download|" + args["fileName"] + "." + args["fileType"]).innerHTML = "cancel"
    
    
  });
  ipcRenderer.on("songsToLoad", (event,args) => {
    // rename to songSchema soon
    songList = args['songs']['tracks']
    downloadedSongs = args["songsInSystem"]
    songList.forEach(track => {
      rawTrackList.push(track["trackName"])
      document.getElementById("songList").innerHTML = document.getElementById("songList").innerHTML + `<div id="${track["trackName"]}">
          <span style="text-align: center;color:white;font-size: 30px;font-weight: 600;display:inline-block;margin-bottom:20px">${track["trackName"]}</span><br/>
        </div><br/>`
        document.getElementById('phases_addNote').innerHTML = document.getElementById('phases_addNote').innerHTML + '<option value="' + track["trackName"] + '">' + track["trackName"] + '</option>'
      track["trackSongs"].forEach(song => {
        var inList = true;
        var currentCountOfInstances = songFilesTracked.filter(el => el == song["songName"] + "." + song["fileType"]).length;
        songFilesTracked.push(song["songName"] + "." + song["fileType"])
        document.getElementById(track["trackName"]).innerHTML = document.getElementById(track["trackName"]).innerHTML + `<div class="elevatedframe" style="display: table;width:95%">
          <span class="material-icons-round iconbutton thissong" style="font-size:24px;display: table-cell;vertical-align:middle;width:7%" id="${track["trackName"]}|${song["songName"] + "." + song["fileType"]}|${song["instanceIndex"]}">play_arrow</span>
          <span style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:table-cell;margin-right: 20px;overflow:hidden;vertical-align:middle;max-width:70%;white-space: nowrap;text-overflow: ellipsis;">${song["songName"]}</span>
          <span class="material-icons-round iconbutton download" style="font-size:24px;display: ${args["songsInSystem"].includes(song["songName"] + "." + song["fileType"]) ? "none" : "table-cell"};vertical-align:middle;margin-right:5px;text-align:right;width:7%" id="download|${song["songName"] + "." + song["fileType"]}">cloud_download</span>
        </div><br/>`
      });
      
    });
    refreshSongDropDown(rawTrackList[0])
    currentTrack = rawTrackList[0]
    Array.from(document.getElementsByClassName("thissong")).forEach(btn => {
      btn.addEventListener("click", setSongAndPlay)
    })
    Array.from(document.getElementsByClassName("download")).forEach(btn => {
      btn.addEventListener("click", download)
    })
    ipcRenderer.send("getNotes")
  });

  ipcRenderer.on("notifyNoteChange", (event, args) => {
    var el = JSON.parse(args["data"])
    if(args["change"] == 'delete'){
      document.getElementById(el["id"]).remove()
    }
    else if(args["change"] == 'update'){
      document.getElementById(el["id"] + "_title").innerHTML = el["noteTitle"]
      document.getElementById(el["id"] + "_content").innerHTML = el["noteContent"]
      document.getElementById(el["id"] + "_creator").innerHTML = "<i>" + (el["isAdminIssued"] ? "Director's Note - Only For You" : "Your Personal Note by You!") + "</i>"
      document.getElementById(el["id"] + "_location").innerHTML = "<i>" +  (el["isDuring"] ? "" : "After ") + el["noteSong"] + " (" + (el["noteSongIndex"]+1) + ")</i>"
    }
    else if(args["change"] == 'create'){
      notes.push(el)
      document.getElementById("noteList").innerHTML = document.getElementById("noteList").innerHTML + `
      <div id="${el["id"]}" class="elevatedframe note" style="margin:5px;text-align: left;">
        <span class="material-icons-round iconbutton thisispinned" style="font-size:20px;display: inline-block;text-align:left"></span><span id="${el["id"]}_title" class="thisismoved" style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:90%">${el["noteTitle"]}</span><br/>
        <span id="${el["id"]}_location" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isDuring"] ? "" : "After "}${el["noteSong"]} (${el["noteSongIndex"]+1})</i></span><br/>
        <span id="${el["id"]}_creator" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isAdminIssued"] ? "Director's Note - Only For You" : "Your Personal Note by You!"}</i></span><br/>
        <span id="${el["id"]}_content" style="text-align: left;color:white;font-size: 14px;display:inline-block;word-wrap: break-word;overflow-x:hidden">${el["noteContent"]}</span><br/>
        <div style="display: inline-block;" class="noteOption">
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;margin-top:8px" class="elevatedbutton pinThisNote" type="button"  id="${el["id"]}|pin" value="Pin"/>
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;margin-top:8px" class="elevatedbutton" type="button"  id="${el["id"]}|edit" value="Edit" ${el["isAdminIssued"] ? "disabled" : ""} title="${el["isAdminIssued"] ? "You cannot edit a note that isn't yours!" : ""}"/>
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;color:pink;margin-top:8px" class="elevatedbutton removeNote" type="button" id="${el["id"]}|delete" value="Delete" ${el["isAdminIssued"] ? "disabled" : ""} title="${el["isAdminIssued"] ? "You cannot delete a note that isn't yours!" : ""}"/>
          
        </div>
        
      </div>
      `
    }
  });

  ipcRenderer.on('notesToLoad', (event,args) => {
    args["roleNotes"].forEach(el => {
      var trackIndex = rawTrackList.indexOf(el["noteTrack"])
      var isValidlyPlaced = false
      if(songList[trackIndex]["trackSongs"][el["noteSongIndex"]]["songName"] == el["noteSong"]){
        isValidlyPlaced = true;
      }
      notes.push(el)
      document.getElementById("noteList").innerHTML = document.getElementById("noteList").innerHTML + `
      <div id="${el["id"]}" class="elevatedframe note" style="margin:5px;text-align: left;">
        <span class="material-icons-round iconbutton thisispinned" style="font-size:20px;display: inline-block;text-align:left"></span><span id="${el["id"]}_title" class="thisismoved" style="text-align: left;color:white;font-size: 18px;font-weight: 600;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:90%">${el["noteTitle"]}</span><br/>
        <span id="${el["id"]}_location" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isDuring"] ? "" : "After "}${el["noteSong"]} (${el["noteSongIndex"]+1})</i></span><br/>
        <span id="${el["id"]}_creator" style="text-align: left;color:white;font-size: 12px;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis"><i>${el["isAdminIssued"] ? "Director's Note - Only For You" : "Your Personal Note by You!"}</i></span><br/>
        <span id="${el["id"]}_content" style="text-align: left;color:white;font-size: 14px;display:inline-block;word-wrap: break-word;overflow-x:hidden">${el["noteContent"]}</span><br/>
        <div style="display: inline-block;" class="noteOption">
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;margin-top:8px" class="elevatedbutton pinThisNote" type="button"  id="${el["id"]}|pin" value="Pin"/>
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;margin-top:8px" class="elevatedbutton" type="button"  id="${el["id"]}|edit" value="Edit" ${el["isAdminIssued"] ? "disabled" : ""} title="${el["isAdminIssued"] ? "You cannot edit a note that isn't yours!" : ""}"/>
          <input style="display:inline-block;text-align: center;border-radius: 12px;font-size: 12px;padding: 8px 15px 8px 15px;color:pink;margin-top:8px" class="elevatedbutton removeNote" type="button" id="${el["id"]}|delete" value="Delete" ${el["isAdminIssued"] ? "disabled" : ""} title="${el["isAdminIssued"] ? "You cannot delete a note that isn't yours!" : ""}"/>
          
        </div>
        
      </div>
      `
    });
    Array.from(document.getElementsByClassName("removeNote")).forEach(el => {
      el.addEventListener('click', function(evt){
      var noteId = evt.srcElement.id.split("|")[0]
      document.getElementById("selected_removeNote").value = noteId;
      document.getElementById("deleteNote").style.display = "";
      
    });
  })
    
  });
  ipcRenderer.send("getMeSpiderman")
  
  const closeApp = document.getElementById('closeApp');
  closeApp.addEventListener('click', () => {
    ipcRenderer.send('quitapp');
  });


  function createNoteAndSubmit(){
    document.getElementById("createNote").style.display = "none";
    // assume that since it is the client, it is automatically going to be this role
    // maybe change calc id
    var id = "controller_music_" + (new Date().getTime())
    var trackIndex = rawTrackList.indexOf(document.getElementById("phases_addNote").value)
    var newObject = { 'id' : id, "noteTitle" : document.getElementById("title_addNote").value, "noteSong" : songList[trackIndex]["trackSongs"][document.getElementById("songs_addNote").value]["songName"], "noteSongIndex" : document.getElementById("songs_addNote").value, "noteTrack" : document.getElementById("phases_addNote").value, "isDuring" : (!document.getElementById("after_addNote").checked), "isDialogue" : false, "noteContent" : document.getElementById("content_addNote").value, "isAdminIssued" : false}
    console.log(newObject)
    ipcRenderer.send("noteChange", {change: 'create', data: JSON.stringify(newObject), role: 'controller_music'});
  }

  function deleteNoteAndSubmit(){
    document.getElementById("deleteNote").style.display = "none";
    // assume that since it is the client, it is automatically going to be this role
    // maybe change calc id
    var id = document.getElementById("selected_removeNote").value
    var noteToDelete = notes.filter(el => el["id"] == id)[0]
    
    console.log(noteToDelete)
    ipcRenderer.send("noteChange", {change: 'delete', data: JSON.stringify(noteToDelete), role: 'controller_music'});
  }

  document.getElementById("delete_removeNote").addEventListener('click',deleteNoteAndSubmit);

  document.getElementById("save_addNote").addEventListener('click', createNoteAndSubmit);

  let isReady = false;

  function toggleReady(evt){
    if(isReady){
      isReady = false;
      document.getElementById("readyIcon").innerHTML = "thumb_down"
      document.getElementById("readyLabel").innerHTML = "Not Ready"
      
    }else{
      isReady = true;
      document.getElementById("readyIcon").innerHTML = "thumb_up"
      document.getElementById("readyLabel").innerHTML = "Ready"
    }
    ipcRenderer.send("readyStatus", {isReady: isReady});
  }
  document.getElementById("readyToggle").addEventListener('click', toggleReady)

</script>

</html>
